{% include 'octo_site/includes/header.html' %}
{% load staticfiles %}
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
<!-- CONTENT --><style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
    <div id="content" style="padding: 10px 0 0 0; margin-left: 240px;" >
    <div class="uk-container uk-container-expand">
        <div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" data-uk-grid>
            <div>
                <span class="uk-text-small"><span data-uk-icon="icon:hashtag" class="uk-margin-small-right uk-text-primary"></span>Total Games Played this Week</span>
                <h1 class="uk-heading-primary uk-margin-remove uk-text-primary" id="errors">{{ metrics.total_games }}</h1>
                <div class="uk-text-small">
                    {% if metrics.comp_total_games == 0 %}
                    <span class="uk-text-primary">=</span> equal to last week.
                    {% elif metrics.comp_total_games > 0 %}
                    <span class="uk-text-success" data-uk-icon="icon: triangle-up">{{ metrics.abs_total_games }}</span> games more than last week.
                    {% else %}
                    <span class="uk-text-warning" data-uk-icon="icon: triangle-down">{{ metrics.abs_total_games }}</span>less than last week.
                    {% endif %}
                </div>
            </div>
            <div>
                <span class="uk-text-small"><span data-uk-icon="icon:warning" class="uk-margin-small-right uk-text-danger"></span>Anomalies this week</span>
                <h1 class="uk-heading-primary uk-margin-remove  uk-text-primary" id="errors">{{ metrics.total_anomalies }}</h1>
                <div class="uk-text-small">
                    {% if metrics.comp_total_anomalies == 0 %}
                    <span class="uk-text-warning">=</span> equal to last week.
                    {% elif metrics.comp_total_anomalies > 0 %}
                    <span class="uk-text-warning" data-uk-icon="icon: triangle-up">{{ metrics.abs_total_anomalies }}</span> errors more than last week.
                    {% else %}
                    <span class="uk-text-success" data-uk-icon="icon: triangle-down">{{ metrics.abs_total_anomalies }}</span> errors less than last week.
                    {% endif %}
                </div>
            </div>
            <div>
                <span class="uk-text-small"><span data-uk-icon="icon:question" class="uk-margin-small-right uk-text-warning"></span>Retention this week</span>
                <h1 class="uk-heading-primary uk-margin-remove uk-text-primary" id="warnings">{{ metrics.total_retentions }}%</h1>
                <div class="uk-text-small">
                    {% if metrics.comp_total_retentions == 0 %}
                    <span class="uk-text-warning">=</span> equal to last week.
                    {% elif metrics.comp_total_retentions > 0 %}
                    <span class="uk-text-success" data-uk-icon="icon: triangle-up">{{ metrics.abs_total_retentions }}%</span> more than last week.
                    {% else %}
                    <span class="uk-text-warning" data-uk-icon="icon: triangle-down">{{ metrics.abs_total_retentions }}%</span> less than last week.
                    {% endif %}
                </div>
            </div>
            <div>
                <span class="uk-text-small"><span data-uk-icon="icon:calendar" class="uk-margin-small-right uk-text-primary"></span>CURRENT DATE</span>
                <h2 class=" uk-margin-remove ">{{ cur_date }}</h2>
                <span class="uk-text-primary" style="font-size: 24px" id="clock"></span>
                <script>startTime()</script>
                <script></script>
            </div>
        </div>
        <div class="uk-grid-small" data-uk-grid>
            <!-- panel -->
            <div  class="uk-width-1-2">
                <div style="margin-bottom: 2vh;" class="uk-width-1-1@s">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span data-uk-icon="icon:history" class="uk-margin-small-right uk-text-primary"></span>{{ branch.name }} Branch </h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto">
                            <div id="container" style="width: 100%;">
                                <canvas id="gamesChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="uk-width-1-1@s ">
                    <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                        <div class="uk-card-header">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span data-uk-icon="icon:link" class="uk-margin-small-right uk-text-primary"></span> Branch Room Sales</h4></div>
                            </div>
                        </div>
                        <div class="uk-card-body" style="height: 80vh;overflow: scroll">

                        <div id="container" style="width: 100%;height: 50%">
                            <canvas id="salesChart"></canvas>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-4@s ">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span data-uk-icon="icon:heart" class="uk-margin-small-right uk-text-primary"></span> Retentions</h4></div>
                            <small>customers that have visited Mystery Manila more than 3 times using their email</small>
                        </div>
                    </div>
                    <div class="uk-card-body" style="height: 80vh;overflow: scroll">

                        <div id="container" style="width: 100%;height: 50%">
                            <canvas id="retentionChart"></canvas>
                            <table class="uk-table uk-table-hover uk-table-divider uk-table-middle" >
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                            <!--

                            [],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#39f", "#895df6","#3cba9f","#e8c3b9"],
          data: [{% for r in room_retentions %}, {% endfor %}]
        }
                            -->
                        <tbody>
                        {% for r in room_retentions %}
                            <tr>
                                <td>{{ r.room_name }}</td>
                                <td>{{ r.retaining_customers.1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 2vh" class="uk-width-1-4@s ">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span data-uk-icon="icon:warning" class="uk-margin-small-right uk-text-primary"></span> Anomalies Detected</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body" style="height: 80vh;overflow: scroll">
                        <div id="container" style="width: 100%;height: 50%">
                            <canvas id="anomalyChart"></canvas>
                            <table class="uk-table uk-table-hover uk-table-divider uk-table-middle" >
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in anomalies_detected reversed%}
                        <tr>
                            <td>{{ a.room_name }}</td>
                            <td>{{ a.anomaly_count }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer class="uk-section uk-section-small uk-text-center">
            <hr>
            <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a>
        </footer>
    </div>
</div>
	<script>
		window.onload = function() {
			var gamesCtx = document.getElementById('gamesChart').getContext('2d');
			var anomalyCtx = document.getElementById('anomalyChart').getContext('2d');
			window.myHorizontalBar = new Chart(gamesCtx, {
				type: 'bar',
                  data: {
                    labels: [{% for g in games_played_chart %} '{{ g.room_name }}',{% endfor %} ],
                    datasets: [{
                      label: "Games",
                      backgroundColor: [{% for g in games_played_chart %}"#3cba9f",{% endfor %}],
                      data: [{% for g in games_played_chart %} {{ g.games_played }}, {% endfor %} ]
                    }]
                  },

                  options: {
                    maintainAspectRatio: false,
                    responsiveAnimationDuration: 500,
                    legend: {
                      display: false
                    },
                    animation: {
                      duration: 2000
                    },
                    title: {
                      display: true,
                      text: 'Number of Games Played this Week'
                    }
                  }
			});
			window.myAnomalyBar = new Chart(anomalyCtx, {
              type: 'horizontalBar',
              data: sensorChartData,
              options: {
                maintainAspectRatio: false,
                responsiveAnimationDuration: 500,
                legend: {
                  display: false
                },
                animation: {
                  duration: 2000
                },
                title: {
                  display: true,
                  text: 'Anomalies this week'
                }
              }
            });

		};
		chartColors = {
              0: 'rgb(255, 65, 54)',
              1: 'rgb(239, 206, 0)',
              2: 'rgb(61, 142, 106)',
              3: 'rgb(28, 143, 219)',
              4: 'rgb(255, 118, 0)',
              5: 'rgb(153, 102, 255)',
              6: 'rgb(231,233,237)',
              7: 'rgb(0,0,0)',
            };
		var sensorChartData = {
              labels: [{% for a in anomalies_detected reversed %} '{{ a.room_name }}', {% endfor %}],
            datasets: [{
              label: "Count of anomalies per chart",
              backgroundColor: [{% for a in anomalies_detected  %} "#f65917", {% endfor %}],
              data: [{% for a in anomalies_detected reversed %} {{ a.anomaly_count }}, {% endfor %} ]
            }]
		};
		var salesChartData = document.getElementById('salesChart');

        let color = Chart.helpers.color;
new Chart(salesChartData, {
  type: 'line',
  data: {
    labels: [{% for s in sales_per_weekday %} {% if forloop.counter0 == 0 %}{% for day in s.week_data %} '{{ day.day }}' ,{% endfor %}{% endif %}{% endfor %}],
    datasets: [
        {% for s in sales_per_weekday %}
        {
      data: [{% for day in s.week_data %}{{ day.total }},{% endfor %}],
      label: "{{ s.room_name }}",
      backgroundColor: color(window.chartColors[{{ forloop.counter0 }}]).alpha(0.45).rgbString(),
      borderColor: window.chartColors[{{ forloop.counter0 }}],
      fill: true
        },
        {% endfor %}
        ]
  },
  options: {
    maintainAspectRatio: false,
    responsiveAnimationDuration: 500,
      legend:{
        position:'bottom'
      },
    animation: {
      duration: 2000
    },
    title: {
      display: true,
      text: 'Sales per Room in {{ branch.name }} this week'
    }
  }
});

var retentionChartData = document.getElementById('retentionChart');

new Chart(retentionChartData, {
    type: 'doughnut',
    data: {
      labels: [{% for r in room_retentions %} '{{ r.room_name }}', {% endfor %}],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#39f", "#895df6","#3cba9f","#e8c3b9"],
          data: [{% for r in room_retentions %}{{ r.retaining_customers.1 }}, {% endfor %}]
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsiveAnimationDuration: 500,
      animation: {
        duration: 2000
      },
    legend: {
        display: true,
        position: 'bottom'
    },
      title: {
        display: true,
        text: 'Retaining Customers Per Room'
      }
    }
});
</script>

