{% load staticfiles %}
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mystery Manila - Octomind </title>
		<link rel="icon" href="{% static 'octomindlogo.png' %}">

		<!-- CSS FILES -->

		<link rel="stylesheet" type="text/css" href="{% static 'octo_site/res/uikit/css/uikit.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'octo_site/res/uikit/css/dashboard.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'octo_site/res/font-awesome-4.7.0/css/font-awesome.min.css' %}">

		<!-- JS FILES
		<script src="{% static 'octo_site/res/jquery.js' %}"></script>

    	<script src="{% static 'octo_site/res/uikit/jq_dataTable.js' %}"></script>
    	<script src="{% static 'octo_site/res/uikit/ul_dataTable.js' %}"></script>

        -->


		<script src="{% static 'octo_site/res/jquery.js' %}"></script>


		<script src="{% static 'octo_site/res/uikit/js/uikit.min.js' %}"></script>
		<script src="{% static 'octo_site/res/uikit/js/uikit-icons.min.js' %}"></script>

        <script src="{% static 'octo_site/res/uikit/jq_dataTable.js' %}"></script>
        <script src="{% static 'octo_site/res/uikit/ul_dataTable.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.uikit.min.css">

        <link rel="stylesheet" href = "{% static 'styles/registration.css' %}" type = "text/css">
<!-- CONTENT -->
<style>

</style>
</head>

<body>

<div style = "font-size: 50px;text-align:center; width: 100%; font-weight: bold;">Thank you!</div>
<div style = "font-size: 30px;text-align:center; width: 100%; font-weight: bold;">The game keeper will escort you now</div>
<div id="content" style="padding-left: 50px;padding-right: 50px; max-width: 700px; margin: auto; margin-top: 20px;">

</div>
</body>



