{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
<div id="modal-sensor" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD SENSOR <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="sensor_post" type="hidden" name="type" value="sensor">
            <input id="sensor_id" type="hidden" name="sensor_id" value="">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Sensor name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-display-inline" name="sensor_name" id="sensor_name" type="text" placeholder="Enter a name for the sensor" required>
                        </div>
                    </div>
                   <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Raspberry Pi Assigned to</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="sensor_rpi_id" id="sensor_rpi_id">
                            {% for r in rpi reversed %}
                                <option value="{{ r.rpi_id }}">{{ r.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Sensor Type</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" name="sensor_sensor_type_id" id="sensor_sensor_type">
                                {% for st in sensor_type reversed %}
                                    <option value="{{ st.sensor_type_id }}">{{ st.sensor_type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-sensor-type" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD SENSOR TYPE <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="sensor_type_post" type="hidden" name="type" value="sensor_type">

            <input id="sensor_type_id" type="hidden" name="sensor_type_id" value="">
            <div class="uk-modal-body">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Sensor Type Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-display-inline" name="sensor_type_name" id="sensor_type_name" type="text" placeholder="Enter the type for the sensor" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Value Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-display-inline" name="val_name" id="val_name" type="text" placeholder="e.g status, light value, temperature, color" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Trigger Value Threshold</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-display-inline" name="trigger_treshold" id="trigger_treshold" type="number" placeholder="determine if the sensor is triggered" required>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-rpi" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD RPI <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="rpi_post" type="hidden" name="type" value="rpi">
            <input id="rpi_id" type="hidden" name="rpi_id" value="">
            <div class="uk-modal-body">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">RPI Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-display-inline" name="name" id="rpi_name" type="text" placeholder="Enter the name of micro processor" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">IP Address</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-display-inline" name="ip_address" id="ip_address" type="text" placeholder="Enter the IP address" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Room  Assigned to</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="room_id" id="room_id">
                            {% for room in rooms reversed %}
                                <option value="{{ room.room_id }}">{{ room.room_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="content" style="padding: 0 0 0 0; margin-left: 240px;">
            <script>
                {% if messages %}
                    {% for message in messages %}
                        UIkit.notification("{{ message }}", {pos: 'top-center'});
                    {% endfor %}
                {% endif %}
            </script>
			<section class="uk-section uk-article" style="background-color: white;padding: 10px" >
				<div class="uk-container uk-container-medium" style="margin-top: 3vh">
                    <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-medium" >
                                <div class="uk-width-auto" >
                                    <h4 class="uk-margin-remove-bottom"><span  data-uk-icon="icon: nut;ratio: 1"></span> Sensors Settings </h4>
                                </div>
                                <div class="uk-width-expand uk-text-right">
                                    <a href="#modal-sensor" uk-toggle>
                                        <button class="uk-button uk-button-default uk-button-small hobor" onclick="$('#sensor_post').val('sensor')" uk-tooltip="Add a new sensor">Sensor <span data-uk-icon="icon: plus"></span></button>
                                    </a>
                                    <a href="#modal-sensor-type" uk-toggle>
                                        <button class="uk-button uk-button-default uk-button-small bord_rad" onclick="$('#sensor_type_post').val('sensor_type')" uk-tooltip="Add a new sensor type">Sensor Type <span data-uk-icon="icon: plus"></span></button>
                                    </a>
                                    <a href="#modal-rpi" uk-toggle>
                                        <button class="uk-button uk-button-default uk-button-small bord_rad" onclick="$('#rpi_post').val('rpi')" uk-tooltip="Add a new Raspberry Pi">Raspberry Pi <span data-uk-icon="icon: plus"></span></button>
                                    </a>
                                </div>
	                            <div class="uk-card-body uk-align-center uk-width-1-1">
                                <div uk-switcher="animation: uk-animation-fade">
                                    <button class="uk-button uk-button-default bord_rad" type="button">SENSOR</button>
                                    <button class="uk-button uk-button-default bord_rad" type="button">SENSOR TYPE</button>
                                    <button class="uk-button uk-button-default bord_rad" type="button">RPI</button>
                                </div>
                                <ul class="uk-switcher uk-margin">
                                    <li class="uk-width-1-1">
                                     <div class="uk-overflow-auto">
                                     <table id="tbl1" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-width-medium">Sensor</th>
                                                  <th class="uk-width-medium">RPI</th>
                                                  <th class="uk-width-medium">Sensor Type</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                            {% for sensor in sensors %}
                                                <tr>
                                                    <td>
                                                        {{ sensor.sensor_name }}
                                                        <a class="uk-icon-link uk-text-success" edit-type="sensor" onclick="edit(this)" sensor_id="{{ sensor.sensor_id }}" sensor_name="{{ sensor.sensor_name }}" sensor_sensor_type="{{ sensor.sensor_type_id }}" sensor_rpi_id="{{ sensor.rpi_id }}" data-uk-icon="pencil" href="#modal-sensor" uk-toggle></a>
                                                        <form method="post" style="display: inline">
                                                            <input type="hidden" name="type" value="sensor_delete">
                                                            <a href="#" onclick="del({{ sensor.sensor_id }})" class="uk-icon-link uk-text-danger" data-uk-icon="close"></a>
                                                            <button type="submit" name="sensor_id" id="sensor-{{ sensor.sensor_id }}" value="{{ sensor.sensor_id }}" style="display: none"/>
                                                            {% csrf_token %}
                                                        </form>
                                                    </td>
                                                    <td>{{ sensor.rpi.name }}, {{ sensor.rpi.room.room_name }},{{ sensor.sequence_number }}</td>
                                                    <td>{{ sensor.sensor_type.sensor_type_name }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                     </table>

                                    </div>
                                    </li>
                                    <li>
                                     <div class="uk-overflow-auto">
                                     <table id="tbl2" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-width-medium">Name</th>
                                                  <th class="uk-width-medium">Value name</th>
                                                  <th class="uk-width-medium">Trigger Threshold</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                            {% for st in sensor_type reversed%}
                                                <tr>
                                                    <td>
                                                        {{ st.sensor_type_name }}
                                                        <a class="uk-icon-link uk-text-success" edit-type="sensor_type" sensor_type_id="{{ st.sensor_type_id }}" onclick="edit(this)" sensor_type_name="{{ st.sensor_type_name }}" val_name="{{ st.val_name }}" trigger_treshold="{{ st.trigger_treshold }}"  data-uk-icon="pencil" href="#modal-sensor-type" uk-toggle></a>
                                                    </td>
                                                    <td>{{ st.val_name }}</td>
                                                    <td>{{ st.trigger_treshold }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                     </table>
                                        <script>
                                            $(document).ready(function() {
                                            $('#example').DataTable();
                                            } );
                                        </script>
                                    </div>
                                    </li>
                                    <li>
                                     <div class="uk-overflow-auto">
                                     <table id="tbl3" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-width-medium">Name</th>
                                                  <th class="uk-width-medium">IP Address</th>
                                                  <th class="uk-width-medium">Room Assigned</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                            {% for r in rpi reversed%}
                                                <tr>
                                                    <td>
                                                        {{ r.name }}
                                                        <a class="uk-icon-link uk-text-success" edit-type="rpi" onclick="edit(this)" rpi_id="{{ r.rpi_id }}" rpi_name="{{ r.name }}" ip_address="{{ r.ip_address }}" room_id="{{ r.room_id }}" data-uk-icon="pencil" href="#modal-rpi" uk-toggle></a>
                                                    </td>
                                                    <td>{{ r.ip_address }}</td>
                                                    <td>{{ r.room.room_name }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                     </table>
                                    </div>
                                    </li>
                                </ul>
								</div>
                            </div>
                        </div>
                    </div>
				</div>
            </section>
				<!-- large image -->
				<!-- /large image -->
</div>
<script>
    $(document).ready(function() {
    $('#tbl1').DataTable();
    $('#tbl2').DataTable();
    $('#tbl3').DataTable();
    });
    function del(sensor_id) {
        let conf = confirm("Are you sure you want to delete?");
        if (conf){
            $('#sensor-'+sensor_id).click();
        }
    }
    function edit(obj) {
        switch ($(obj).attr('edit-type')){
            case "sensor":
                $("#sensor_name").val($(obj).attr('sensor_name'));
                $("#sensor_sensor_type").val($(obj).attr('sensor_sensor_type'));
                $("#sensor_rpi_id").val($(obj).attr('sensor_rpi_id'));
                $("#sensor_post").val("edit_sensor");
                $("#sensor_id").val($(obj).attr('sensor_id'));
                break;
            case "sensor_type":
                $("#sensor_type_name").val($(obj).attr('sensor_type_name'));
                $("#val_name").val($(obj).attr('val_name'));
                $("#trigger_treshold").val($(obj).attr('trigger_treshold'));
                $("#sensor_type_post").val("edit_sensor_type");
                $("#sensor_type_id").val($(obj).attr('sensor_type_id'));
                break;
            case "rpi":
                $("#rpi_name").val($(obj).attr('rpi_name'));
                $("#ip_address").val($(obj).attr('ip_address'));
                $("#room_id").val($(obj).attr('room_id'));
                $("#rpi_post").val("edit_rpi");
                $("#rpi_id").val($(obj).attr('rpi_id'));
                break;
        }


    }
</script>
<!-- /CONTENT -->
{% include 'octo_site/includes/offcanvas.html' %}

