{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
    {% load staticfiles %}

<div id="modal-branch" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD BRANCH <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>
        <form class="uk-form" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="type" value="branch">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Branch Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-display-inline" name="name" id="form-stacked-text" type="text" placeholder="Enter a name for the branch" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-display-inline" id="form-stacked-text" name="address" type="text" placeholder="Enter address" required>
                        </div>
                    </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-rooms" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD ROOM <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Room name</label>
                        <div class="uk-form-controls">
                            {{ room_form.room_name }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Branch</label>
                        <div class="uk-form-controls">
                        {{ room_form.branch_id }}
                        <!--
                            <select class="uk-select" name="branch_id" id="form-stacked-select">
                                {% for branch in branches reversed %}
                                <option value="{{ branch.branch_id }}">{{ branch.name }}</option>
                                {% endfor %}
                            </select>
                        -->
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" id="output">
                        <img id="hdr_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" />
                    </div>
                    <div class="js-upload uk-placeholder uk-text-center">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Upload header image by dropping or Manual Upload</span>
                        <div uk-form-custom>
                            <!--
                            <input type="file" name="imgupload" id="hd_img" onchange="showImg(this)">
                            -->
                        </div>
                    </div>

                    <div class="uk-margin uk-text-center uk-align-center">
                        <div class="upload-btn-wrapper">
                          <button class="btn_up"> <span uk-icon="icon: cloud-upload"></span> Manual Upload</button>
                            {{ room_form.header_img }}
                        </div>
                    </div>
            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-room-edit" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">EDIT ROOM <span data-uk-icon="icon: pencil; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room_edit">
            <input type="hidden" name="room_id" id="edit-room_id" value="">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Room name</label>
                        <div class="uk-form-controls">
                            {{ edit_room_form.room_name }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Branch</label>
                        <div class="uk-form-controls">
                            {{ edit_room_form.branch_id }}
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" id="output">
                        <img id="edit_hdr_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" />
                    </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-room-edit" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD ROOM <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Room name</label>
                        <div class="uk-form-controls">
                            {{ room_form.room_name }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Branch</label>
                        <div class="uk-form-controls">
                        {{ room_form.branch_id }}
                        <!--
                            <select class="uk-select" name="branch_id" id="form-stacked-select">
                                {% for branch in branches reversed %}
                                <option value="{{ branch.branch_id }}">{{ branch.name }}</option>
                                {% endfor %}
                            </select>
                        -->
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" id="output">
                        <img id="hdr_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" />
                    </div>
                    <div class="js-upload uk-placeholder uk-text-center">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Upload header image by dropping or Manual Upload</span>
                        <div uk-form-custom>
                            <!--
                            <input type="file" name="imgupload" id="hd_img" onchange="showImg(this)">
                            -->
                        </div>
                    </div>

                    <div class="uk-margin uk-text-center uk-align-center">
                        <div class="upload-btn-wrapper">
                          <button class="btn_up"> <span uk-icon="icon: cloud-upload"></span> Manual Upload</button>
                            {{ room_form.header_img }}
                        </div>
                    </div>
            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div id="content" style="padding: 0 0 0 0; margin-left: 240px;">
    <section class="uk-section uk-article" style="background-color: white;padding: 10px" >
        <div class="uk-container uk-container-medium" style="margin-top: 3vh">
            <div class="uk-card uk-card-default uk-card-small uk-card-hover">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-medium" >

                        <div class="uk-width-auto" >
                            <h4 class="uk-margin-remove-bottom"><span  data-uk-icon="icon: home;ratio: 1"></span> Venue Settings </h4>
                        </div>
                        <div class="uk-width-expand uk-text-right">
                            <a href="#modal-branch" uk-toggle>
                                <button class="uk-button uk-button-default uk-button-small hobor" style="">New Branch <span data-uk-icon="icon: plus"></span></button>
                            </a>
                            <a href="#modal-rooms" uk-toggle>
                                <button class="uk-button uk-button-default uk-button-small hobor" style="">New Room <span data-uk-icon="icon: plus"></span></button>
                            </a>
                        </div>
                        <div class="uk-card-body uk-align-center uk-width-1-1">
                            <div uk-switcher="animation: uk-animation-fade">
                                <button class="uk-button uk-button-default bord_rad" type="button">ROOMS</button>
                                <button class="uk-button uk-button-default bord_rad" type="button">BRANCHES</button>
                            </div>
                            <ul class="uk-switcher uk-margin">
                                <li>
                                     <div class="uk-overflow-auto">
                                     <table id="room_tbl" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-table-shrink uk-text-nowrap"></th>
                                                  <th class="uk-width-medium">Name</th>
                                                  <th class="uk-width-medium">Branch</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                            {% for room in rooms reversed%}
                                                <tr>
                                                    <td class="uk-text-center"><img src="/static/media/{{ room.header_img }}" alt="Alt text" class="uk-border-circle" style="width: 75px;height: 50px"></td>
                                                    <td>
                                                        <div uk-lightbox>
                                                            <a href="/static/media/{{ room.header_img }}" data-caption="{{ room.room_name }} at {{ room.branch.name }} branch">{{ room.room_name }}</a>
                                                        </div>
                                                        <a class="uk-icon-link uk-text-success" onclick="edit_room(this)" room-name="{{ room.room_name }}" room-id="{{ room.room_id }}" room-branch-id="{{ room.branch.branch_id }}" room-img="/static/media/{{ room.header_img }}" data-uk-icon="pencil" href="#modal-room-edit" uk-toggle></a>
                                                        <form method="post" style="display: inline">
                                                            <input type="hidden" name="type" value="room_delete">
                                                            <a href="#" onclick="delete_room({{ room.room_id }})" class="uk-icon-link uk-text-danger" data-uk-icon="close"></a>
                                                            <button type="submit" name="room_id" id="room-{{ room.room_id }}" value="{{ room.room_id }}" style="display: none"/>
                                                            {% csrf_token %}
                                                        </form>
                                                    </td>
                                                    <td>{{ room.branch.name }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                     </table>

                                        <script>
                                            $(document).ready(function() {
                                            $('#example').DataTable();
                                            } );

                                            $(document).ready(function() {

                                            $('#room_tbl').DataTable();
                                            });
                                        </script>
                                    </div>
                                </li>
                                <li class="uk-width-1-1">
                                    <div class="uk-overflow-auto uk-width-1-1">
                                        <table  id="branch_tbl" class="uk-table uk-table-hover uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Address</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for branch in branches reversed %}
                                                <tr>
                                                    <td>{{ branch.name }}</td>
                                                    <td>{{ branch.address }}</td>
                                                    <td>
                                                        <a href="#" class="uk-icon-link uk-text-success" data-uk-icon="check"></a>
                                                        <a href="#" class="uk-icon-link uk-text-danger" data-uk-icon="close"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var bar = document.getElementById('js-progressbar');
    var inp = document.getElementById('hd_img');
    const csrftoken = '{{ csrf_token }}';
    function showImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#hdr_img')
                    .attr('src', e.target.result).style="display: inline;"
                ;
            };
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    function delete_room(room_id) {
        let conf = confirm("Are you sure you want to delete?");
        if (conf){
            $('#room-'+room_id).click();
        }
    }
    function edit_room(obj) {
        $("#edit-room_name").val($(obj).attr('room-name'));
        $("#edit-room_id").val($(obj).attr('room-id'));
        $("#edit-branch_id").val($(obj).attr('room-branch-id'));
    }
    function handleFile(file) {
        console.log("i here, handling file!");
        document.getElementById('hd_img').files[0] = file;

        var preview = document.getElementById('output');
        var img = document.createElement("img");
        img.classList.add("obj");
        img.file = file;
        preview.appendChild(img); // Assuming that "preview" is the div output where the content will be displayed.

        var reader = new FileReader();
        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(file);

      }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    UIkit.upload('.js-upload', {
        url: '/octo_site/api/upload_process/',
        multiple: false,
        beforeSend: function(xhr) {
            xhr = new XMLHttpRequest();
            xhr.open("POST","/octo_site/api/upload_process/");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            const csrfmiddlewaretoken = csrftoken;

        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
            console.log(arguments[1][0].name);
            handleFile(arguments[1][0]);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },

        loadStart: function (e) {


            console.log('loadStart', arguments);
            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            console.log('progress', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            console.log('loadEnd', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function (arguments) {
            console.log('completeAll', arguments);

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);

            console.log('Upload Completed');
        }

    });
</script>
<!-- /CONTENT -->
{% include 'octo_site/includes/offcanvas.html' %}

