{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
    {% load staticfiles %}
<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-column-1-2 uk-column-divider">
            <div class="uk-padding-large" style="background-color: white"  uk-height-viewport>
                <h3>Alien Assualt Room Sensors</h3>
                <hr class="uk-divider-icon"/>
                <div style="overflow-y: scroll; height:360px;">
                    <div id="sensor_sequence_plot">
                        <div class="uk-margin">
                            <li class="draggable_list_plot" data-sensor_id="tite1"><div class="uk-card uk-card-default uk-card-body uk-card-small box_box"></div></li>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-position-bottom uk-text-center">
                    <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
                </div>
            </div>
            <div  uk-height-viewport>
                <div class="uk-card-body uk-align-center uk-text-center uk-width-1-1" draggable="false">
                    <div class="uk-inline uk-dark uk-align-center" draggable="false" style="border: dashed;border-width: 3px;"  id="layout_body">
                        <img id="img_sensor_layout" ondrop="drop(event)" draggable="false" ondragover="allowDrop(event)" src="{% static 'media/imgs/aa_blueprint.jpg' %}" alt="" style="width: 100%;height: 100%">
                        <a class="uk-position-absolute uk-transform-center " id="" uk-tooltip="Sensor 1"  style="transform-origin:center;left: 20%; top: 5%" href="#" uk-marker></a>
                        <a class="uk-position-absolute " uk-tooltip="Sensor 2"  style="left: 60%; top: 0%" href="#" uk-marker></a>

                        <div class="div_drag" uk-tooltip="Sensor 3"  style="left: 82%; top: 68%">
                            <span style="color: white" data-uk-icon="icon: nut"></span>
                        </div>

                        <div class="div_drag" uk-tooltip="Sensor 3"  style="left: 52%; top: 68%">
                            <img src="{% static 'octo_site/sensor_device.png' %}"style="width: 90%;height: 90%">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-branch" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD BRANCH <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>
        <form class="uk-form" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="type" value="branch">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Branch Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-display-inline" name="name" id="form-stacked-text" type="text" placeholder="Enter a name for the branch" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-display-inline" id="form-stacked-text" name="address" type="text" placeholder="Enter address" required>
                        </div>
                    </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-rooms" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD ROOM <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Room name</label>
                        <div class="uk-form-controls">
                            {{ room_form.room_name }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Branch</label>
                        <div class="uk-form-controls">
                        {{ room_form.branch_id }}
                        <!--
                            <select class="uk-select" name="branch_id" id="form-stacked-select">
                                {% for branch in branches reversed %}
                                <option value="{{ branch.branch_id }}">{{ branch.name }}</option>
                                {% endfor %}
                            </select>
                        -->
                        </div>
                    </div>

                    <div class="uk-margin uk-text-center uk-align-center" >
                        <div class="upload-btn-wrapper" style="width: 100%">
                          <button class="btn_up" style="width: 100%;font-size: 16px"></span><span uk-icon="icon: image"></span> Upload Room Header Image <span uk-icon="icon: cloud-upload"></button>
                            {{ room_form.header_img }}
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" >
                        <div class="upload-btn-wrapper" style="width: 100%">
                            <button class="btn_up" style="width: 100%;font-size: 16px"></span><span uk-icon="icon: grid"></span> Upload Blueprint File <small>(JPG/PNG)</small>  <span uk-icon="icon: cloud-upload"></button>
                            {{ room_form.blueprint_file }}
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" max-width="300px" max-height="300px" min-width="0px" min-height="0px" style="display: none" id="hdr_wrapper">
                        <label>Header Image Preview</label>
                        <br>
                        <img id="hdr_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" />
                    </div>
                    <div class="uk-margin uk-text-center uk-align-center" max-width="300px" max-height="300px" min-width="0px" min-height="0px" style="display: none" id="bp_wrapper">
                        <label>Blueprint Preview</label>
                        <br>
                        <img id="bp_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" style="display: inline;" />
                    </div>
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                <div class="uk-child-width-1-1@m" uk-grid>
                    <div>
                        <hr class="uk-divider-icon">
                        <dl class="uk-description-list">
                            <dt><span data-uk-icon="icon: settings"></span> <b> Game Sequence</b></dt>
                            <dd><small>Game sequences are automatically added when <b>Sensors</b> are assigned to the room at the <b>Sensors Settings</b>, it is enumerated at first input basis.
                                You can always rearrange the sequence at the edit button for desired sequence of sensors that represents each room puzzle.</small></dd>
                            <dt><span data-uk-icon="icon: git-fork"></span> <b> Sensor Plotting</b></dt>
                            <dd><small>Sensor Plots are <b class="uk-text-warning">not automatically added</b> by default. After adding this room, click on the <b>Edit room</b> and add/edit the <b>coordinates</b> of each sensor to let the system know the placement of sensors for Room analysis</small></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-room-edit" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">EDIT ROOM <span data-uk-icon="icon: pencil; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room_edit">
            <input type="hidden" name="room_id" id="edit-room_id" value="">
             <input type="hidden" name="game_sequence" id="game_sequence" value="">

            <div class="uk-modal-body">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Room name</label>
                    <div class="uk-form-controls">
                        {{ edit_room_form.room_name }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Branch</label>
                    <div class="uk-form-controls">
                        {{ edit_room_form.branch_id }}
                    </div>
                </div>
                <div class="uk-margin uk-text-center uk-align-center" id="output">
                    <img id="edit_hdr_img" src="" alt="" max-width="300px" max-height="300px" min-width="0px" min-height="0px" />
                </div>

                    <div class="uk-child-width-1-1@m" uk-grid id="has_seq">
                    <div>
                        <hr class="uk-divider-icon">
                        <a href="#modal-full" uk-toggle>
                            <button class="uk-button uk-button-primary uk-button-medium" onclick="sensor_layout(this)">Open Blue print<span data-uk-icon="icon: git-fork"></span></button>
                        </a>

                        <dl class="uk-description-list">
                            <dt><b>Sensor Sequence</b></dt>
                            <dd><small>Put the arrangement of sensors here for the system to know which sensors are expected to trigger in the expected sequence.</small></dd>
                        </dl>
                        <div uk-sortable="group: sortable-group" id="sensor_sequence">
                        <div class="uk-margin">
                            <li class="draggable_list" data-sensor_id="tite1"><div class="uk-card uk-card-default uk-card-body uk-card-small box_box"></div></li>
                        </div>
                        </div>
                    </div>
                    </div>
                    <dl class="uk-description-list uk-text-center uk-align-center" id="has_no_seq">
                            <dt> <span class="uk-text-danger" data-uk-icon="settings" href=""></span>
                            <b class="uk-text-danger">No Sensors Added Yet</b></dt>
                            <dd><small>Please add sensors in this room at the <a href="{% url 'page_sensor' %}">Sensor Settings </a>page.</small></dd>
                    </dl>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="modal-branch-edit" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-text-center">ADD ROOM <span data-uk-icon="icon: plus-circle; ratio: 1.5"></span></h3>
        </div>

        <form class="uk-form" method="post" autocomplete="off" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="type" value="room">

            <div class="uk-modal-body">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Room name</label>
                    <div class="uk-form-controls">
                        {{ room_form.room_name }}
                    </div>
                </div>
                <div class="uk-margin">
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div id="content" style="padding: 0 0 0 0; margin-left: 240px;">
    <section class="uk-section uk-article" style="background-color: white;padding: 10px" >
        <div class="uk-container uk-container-medium" style="margin-top: 3vh">
            <div class="uk-card uk-card-default uk-card-small uk-card-hover">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-medium" >

                        <div class="uk-width-auto" >
                            <h4 class="uk-margin-remove-bottom"><span  data-uk-icon="icon: home;ratio: 1"></span> Venue Settings </h4>
                        </div>
                        <div class="uk-width-expand uk-text-right">
                            <a href="#modal-branch" uk-toggle>
                                <button class="uk-button uk-button-default uk-button-small hobor" style="">New Branch <span data-uk-icon="icon: plus"></span></button>
                            </a>
                            <a href="#modal-rooms" uk-toggle>
                                <button class="uk-button uk-button-default uk-button-small hobor" style="">New Room <span data-uk-icon="icon: plus"></span></button>
                            </a>
                        </div>
                        <div class="uk-card-body uk-align-center uk-width-1-1">
                            <div uk-switcher="animation: uk-animation-fade">
                                <button class="uk-button uk-button-default bord_rad" type="button">ROOMS</button>
                                <button class="uk-button uk-button-default bord_rad" type="button">BRANCHES</button>
                            </div>
                            <ul class="uk-switcher uk-margin">
                                <li>
                                     <div class="uk-overflow-auto">
                                     <table id="room_tbl" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-table-shrink uk-text-nowrap"></th>
                                                  <th class="uk-width-medium">Name</th>
                                                  <th class="uk-width-medium">Branch</th>
                                                  <th class="uk-table-shrink">Sensor Count</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                            {% for room in rooms reversed%}
                                                <tr>
                                                    <td class="uk-text-center"><img src="/static/media/{{ room.header_img }}" alt="Alt text" class="uk-border-circle" style="width: 75px;height: 50px"></td>
                                                    <td>
                                                        <div  uk-lightbox>
                                                            <a href="/static/media/{{ room.header_img }}" id="lightbox-{{ room.room_id }}" has-sequence="{{ room.has_game_sequence }}"  room-id="{{ room.room_id }}"  data-caption="{% for sensor_seq in room.get_all_sensors %}{{ sensor_seq.sensor_name }} > {% endfor %}">{{ room.room_name }}</a>
                                                        </div>
                                                        <span data-uk-icon="icon: git-fork" class="uk-text-{%  if room.num_sensor_plotted != 0 %}primary{% else %}danger{% endif %}" data-uk-icon="settings" uk-tooltip="{{ room.room_page_response }}" href=""></span>
                                                        <span class="uk-text-{%  if room.has_game_sequence %}primary{% else %}danger{% endif %}" data-uk-icon="settings" uk-tooltip="{%  if room.has_game_sequence %}Has game Sequence{% else %}Has no game sequence yet{% endif %}" href=""></span>
                                                        <a class="uk-icon-link uk-text-success" uk-tooltip="Edit Game room" has-sequence="{{ room.has_game_sequence }}"  onclick="edit_room(this)" room-name="{{ room.room_name }}" room-id="{{ room.room_id }}" room-branch-id="{{ room.branch.branch_id }}" room-img="/static/media/{{ room.header_img }}" data-uk-icon="pencil" href="#modal-room-edit" uk-toggle></a>
                                                        <form method="post" style="display: inline">
                                                            <input type="hidden" name="type" value="room_delete">
                                                            <a href="#" uk-tooltip="Delete Game room" onclick="delete_room({{ room.room_id }})" class="uk-icon-link uk-text-danger" data-uk-icon="close"></a>
                                                            <button type="submit" name="room_id" id="room-{{ room.room_id }}" value="{{ room.room_id }}" style="display: none"/>
                                                            {% csrf_token %}
                                                        </form>
                                                    </td>
                                                    <td>{{ room.branch.name }}</td>
                                                    <td>{{ room.num_sensors }}</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                     </table>

                                        <script>
                                            $(document).ready(function() {
                                            $('#example').DataTable();
                                            } );
                                            $(document).ready(function() {
                                            $('#room_tbl').DataTable();
                                            });
                                        </script>
                                    </div>
                                </li>
                                <li class="uk-width-1-1">
                                    <div class="uk-overflow-auto uk-width-1-1">
                                        <table  id="branch_tbl" class="uk-table uk-table-hover uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Address</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for branch in branches reversed %}
                                                <tr>
                                                    <td>{{ branch.name }}</td>
                                                    <td>{{ branch.address }}</td>
                                                    <td>
                                                        <a href="#" class="uk-icon-link uk-text-success" data-uk-icon="check"></a>
                                                        <a href="#" class="uk-icon-link uk-text-danger" data-uk-icon="close"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    let img_sensor_layout = document.getElementById("img_sensor_layout");
    var bar = document.getElementById('js-progressbar');
    var inp = document.getElementById('hd_img');
    let sensors;
    const csrftoken = '{{ csrf_token }}';
    function showImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {


                if($(input).attr('id') === "hd_img"){
                    console.log(e.target.result);

                    $('#hdr_wrapper').css('display','block');
                    $('#hdr_img')
                        .attr('src', e.target.result).style="display: inline;"
                    ;
                }else{
                    console.log($(input).attr('id'));
                    $('#bp_wrapper').css('display','block');

                    console.log($('#bp_img'));
                    $('#bp_img')
                        .attr('src', e.target.result).style="display: inline;"
                    ;
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    let indexes;
    let vals;
    indexes = [];
    vals = [];
    $(document).on('moved', '.uk-sortable', function(e) {
          indexes = [];
          vals = [];
          var currentLi = e.originalEvent.parentNode;
          $(this).find('li').each(function() {
            indexes.push($(this).data("index"));
            vals.push($(this).data('sensor_id'));
          });
          $("#game_sequence").val(vals.toString());

          $('.indexes').each(function(x) {
              $(this).html(x+1);

          console.log(indexes);
          console.log(vals);

        });
        $('.uk-sortable').find('li').each(function(i) {
          $(this).data("index", i);
          indexes.push(i);
        });
    });
    $('.div_drag').on('mousedown', function (e) {

        $(this).addClass('active');

        var oTop = e.pageY - $('.active').offset().top;
        var oLeft = e.pageX - $('.active').offset().left;

        $(this).parents().on('mousemove', function (e) {

            $('.active').offset({

                top: e.pageY - oTop,
                left: e.pageX - oLeft

            }).on('mouseup', function () {

                $(this).removeClass('active');

            });

        });

        return false;
    });
    function delete_room(room_id) {
        let conf = confirm("Are you sure you want to delete?");
        if (conf){
            $('#room-'+room_id).click();
        }
    }
    function dragStart(event) {
        event.dataTransfer.setData("Text", event.target.id);
       // $(event.currentTarget).addClass('div_drag');
        //event.dataTransfer.setData("index", event.target.data-index);
        console.log("drag started");
    }
    function dragEnd(event) {
        $(event.currentTarget).remove();
    }
    function allowDrop(event) {
    event.preventDefault();
    }
    function getPosition(el) {
      var xPosition = 0;
      var yPosition = 0;

      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScrollPos = el.scrollLeft || document.documentElement.scrollLeft;
          var yScrollPos = el.scrollTop || document.documentElement.scrollTop;

          xPosition += (el.offsetLeft - xScrollPos + el.clientLeft);
          yPosition += (el.offsetTop - yScrollPos + el.clientTop);
        } else {
          xPosition += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPosition += (el.offsetTop - el.scrollTop + el.clientTop);
        }

        el = el.offsetParent;
      }
      return {
        x: xPosition,
        y: yPosition
      };
    }
    function drop(event) {
        event.preventDefault();
        let parent_position = getPosition(event.currentTarget);
        var data = event.dataTransfer.getData("Text");
        var data2 = event.dataTransfer.getData("ace");
        var id = $('#'+data).attr('sensor-id');
        data = $('#'+data).attr('sensor-name');
        let xPos = parseFloat(event.clientX - parent_position.x)/$(event.currentTarget).width() ;
        let yPos = parseFloat(event.clientY - parent_position.y)/$(event.currentTarget).height() ;
        xPos*=100;
        yPos*=100;
        xPos-=3;
        yPos-=4;
        console.log(xPos , yPos);
        if (data.includes("plot")){
            /*<div class="div_drag" uk-tooltip="Sensor 3"  style="left: 82%; top: 68%">
                            <span style="color: white" data-uk-icon="icon: nut"></span>
                        </div>
            */
            let  str_append = '<div class="div_drag" uk-tooltip="'+data+'" id="plotted_sensor_'+id+'" style="left: '+xPos+'%; top: '+yPos+'%">'+
                            '<span style="color: white" data-uk-icon="icon: nut"></span></div>';
            $("#layout_body").append(str_append);
            //$('#plotted_sensor_'+id).addClass('div_drag');

        }

        /*

                        <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 3"  style="left: 86%; top: 72%" href="#" uk-marker></a>
            event.target.appendChild(document.getElementById(data));
            document.getElementById("demo").innerHTML = "The p element was dropped";
        */
    }
    function sensor_layout(obj) {
        $("#sensor_sequence_plot").empty();
            let sensors =  $.get("/octo_site/api/get_sensor_by_room_id/2/");
            sensors.done(function(results){
               console.log(results);
               for(i in results.sensors){
                   let ind = parseInt(i)+1;
                   console.log(results.sensors[i].sensor_id);
                   let str_append = '<div class="uk-margin"' +
                       '>'+'<li ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="plot_sensor_'+results.sensors[i].sensor_id+'" style="list-style-type: none;" sensor-name="'+results.sensors[i].sensor_name+'" sensor-id="'+results.sensors[i].sensor_id+'" data-index="'+i+'"' +
                   '>';
                       str_append += ' <a><span class="uk-badge indexes">'+ind+'</span>  '+results.sensors[i].sensor_name+'' +
                           '</a></li></div>';
                   $("#sensor_sequence_plot").append(str_append);
               }
            });
    }
    function edit_room(obj) {
        $("#edit-room_name").val($(obj).attr('room-name'));
        $("#edit-room_id").val($(obj).attr('room-id'));
        $("#edit-branch_id").val($(obj).attr('room-branch-id'));
        if($(obj).attr('has-sequence')==="True"){
            $("#sensor_sequence").empty();
            sensors =  $.get("/octo_site/api/get_sensor_by_room_id/"+$(obj).attr('room-id')+"/");
            sensors.done(function(results){
               console.log(results);
               for(i in results.sensors){
                   let ind = parseInt(i)+1;
                   console.log(results.sensors[i].sensor_id);
                   let str_append = '<div class="uk-margin">'+'<li class="draggable_list" data-index="'+i+'" data-sensor_id="'+results.sensors[i].sensor_id+'">';
                       str_append += '<div class="uk-card uk-card-default uk-card-body uk-card-small box_box"> <span class="uk-badge indexes">'+ind+'</span>  '+results.sensors[i].sensor_name+'</div></li></div>';
                   $("#sensor_sequence").append(str_append);
               }
            });
            $("#has_seq").css("display","block");
            $("#has_no_seq").css("display","none");
        }
        else{
            $("#has_seq").css("display","none");
            $("#has_no_seq").css("display","block");
        }
    }
    function handleFile(file) {
        console.log("i here, handling file!");
        document.getElementById('hd_img').files[0] = file;
        var preview = document.getElementById('output');
        var img = document.createElement("img");
        img.classList.add("obj");
        img.file = file;
        preview.appendChild(img); // Assuming that "preview" is the div output where the content will be displayed.
        var reader = new FileReader();
        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(file);
      }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    UIkit.upload('.js-upload', {
        url: '/octo_site/api/upload_process/',
        multiple: false,
        beforeSend: function(xhr) {
            xhr = new XMLHttpRequest();
            xhr.open("POST","/octo_site/api/upload_process/");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            const csrfmiddlewaretoken = csrftoken;
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
            console.log(arguments[1][0].name);
            handleFile(arguments[1][0]);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },
        loadStart: function (e) {
            console.log('loadStart', arguments);
            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },
        progress: function (e) {
            console.log('progress', arguments);
            bar.max = e.total;
            bar.value = e.loaded;
        },
        loadEnd: function (e) {
            console.log('loadEnd', arguments);
            bar.max = e.total;
            bar.value = e.loaded;
        },
        completeAll: function (arguments) {
            console.log('completeAll', arguments);
            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);
            console.log('Upload Completed');
        }
    });
</script>
<!-- /CONTENT -->
{% include 'octo_site/includes/offcanvas.html' %}

