<script>
/*
PARAMS:
    details - specific game detail
    gameid - gameid of game
    roomid - roomid of room

    sendSensorRequet(); - comes from live_sandbox.html
*/
        let final_results;
        let to_add=[];
        let sensors=[];

        let color = Chart.helpers.color;
        let sensor_data;
        let sensor_data_len;
        chartColors = {
              red: 'rgb(255, 65, 54,0.45)',
              yellow: 'rgb(239, 206, 0,0.45)',
              green: 'rgb(61, 142, 106,0.45)',
              blue: 'rgb(28, 143, 219,0.45)',
              orange: 'rgb(255, 118, 0,0.45)',
              purple: 'rgb(153, 102, 255,0.45)',
              grey: 'rgb(231,233,237,0.45)',
              black: 'rgb(0,0,0,0.25)',
            };

        color = Chart.helpers.color;
        colorNames = Object.keys(chartColors);
        let start_time=new Date ("{{ details.timestart |date:'Y-m-d H:i:s' }}");
        let end_time = new Date("{{ timeend |date:'Y-m-d H:i:s' }}");
		let config = {
			type: 'line',
			data: {
			    start_time: start_time,
                end_time: end_time,
				labels: [],
				datasets: [],
                statuses:[],
			},
			options: {
			    elements:{
			        line: {
			            tension: 0
                    }
                },
			    spanGaps:true,
				responsive: true,
                legend: {
                    position: 'bottom',
                },
				title: {
					display: true,
					text: '{{ roomname }}'
				},
				tooltips: {
					mode: 'x',
					intersect: true,
					footerFontStyle: 'normal'
				},
				hover: {
					mode: 'x',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
                        type: 'time',
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{

						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Activation Status'
						},
						ticks: {
                                beginAtZero: true,
                                steps: 0,
                                min:0,
                                stepValue: 1,
                                stepSize: 1,
                            }
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
            
			window.myLine = new Chart(ctx, config);
			initData();
			window.setInterval(reloadData, 1000);
		};
		function reloadData() {
		    // console.log("reading");
            sensor_data =  $.get("/octo_site/sensor_data/{{ gameid }}");
            sensor_data.done(function(results){
                if (sensor_data_len < results.data.length){
                    let to_pop = results.data.length % sensor_data_len;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        config.data.labels.push(new Date(to_add[i].timestamp));
                        for(let x =0; x < sensors.length;x++){
                            if(to_add[i].sensor_id === sensors[x]){
                                config.data.datasets[x].data.push(to_add[i].value);
                            }
                            else{
                                config.data.datasets[x].data.push(null);
                            }
                        }
                        window.myLine.update();
                    }
                    sensor_data_len += to_pop;
                    window.myLine.update();
                }
            });
        }
        function initData() {
		   let time = start_time;
		   let newDataset;
		   let newXAxis;
		   let colorName;
		   let newColor;


           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ roomid }}/");
           sensor_data.done(function(results){
              let obj = results.sensors;
               for (i in obj)
               {
                   console.log("aplha val: "+parseInt(i+1)/10);
                   console.log("aplha val: "+(parseInt(i)+1));
                   colorName = colorNames[config.data.datasets.length % colorNames.length];
                   newColor = chartColors[colorName];
                   newXAxis = {
                        id: "id-"+i,
                        type: 'time',
                        position: 'bottom',
                        display: false,
                        ticks: {

                        min: 0,
                        max: 168,
                        stepSize: 1000
                        }

                   };
                   newDataset = {
                        type: 'line',
                        label: obj[i].sensor_name,
                        xAxisID:"id-"+i,
                        steppedLine: true,
                        pointStyle: 'rectRot',
                        radius:5.5,
                        borderWidth:4,
                        pointRotation:90,
                        backgroundColor: color(newColor).alpha((parseInt(i)+6)/10).rgbString(),
                        borderColor: color(newColor).alpha((parseInt(i)+6)/10).rgbString(),
                        data: [],
                        fill: false
                   };

                   config.data.datasets.push(newDataset);
                   sensors.push(obj[i].sensor_id);
                   config.options.scales.xAxes.push(newXAxis);
                   window.myLine.update()
               }

           });
		   sensor_data =  $.get("/octo_site/sensor_data/{{ gameid }}");
           sensor_data.done(function(results){
               //console.log("RESULTS");
               // console.log(results);
               final_results = results;
               sensor_data_len = results.data.length;
               obj = results.data;
                for (ob in obj)
                {
                    config.data.labels.push(new Date(obj[ob].timestamp));
                    for(let x =0; x < sensors.length;x++){
                        if(obj[ob].sensor_id === sensors[x]){
                            config.data.datasets[x].data.push(obj[ob].value);
                        }
                        else{
                            config.data.datasets[x].data.push(null);
                        }
                    }
			        window.myLine.update()
                }

                config.data.labels.push(end_time);
                for(let x =0; x < sensors.length;x++){
                    config.data.datasets[x].data.push(null);
                }
                window.myLine.update();

                sendSensorRequet();
                //console.log(config.data);
           });
        let summary_data =  $.get("/octo_site/api/game_summary/{{ gameid }}/");
            summary_data.done(function(results){
                //console.log(results.data);
           });
			window.myLine.update();
        }
	</script>