
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
            <h3 style="margin-top: 0;margin-bottom: 0px">Mystery Manila</h3>
            <h4 style="margin-top: 0" class="uk-text-muted">Octomind</h4>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header"><span class="uk-margin-small-right" data-uk-icon="icon: tv"></span> Monitoring</li>
            <li class="{% if request.resolver_match.view_name ==  'control_panel' %}uk-active uk-open{% endif %}"><a href="{% url 'control_panel' %}">Control Panel</a></li>
            <li class="{% if request.resolver_match.view_name ==  'control_panel' %}uk-active uk-open{% endif %}"><a href="{% url 'control_panel' %}">Game Logs</a></li>
        {% if  request.user.groups.all.0.name == "Administrator" or request.user.groups.all.0.name == "Owner" or request.user.groups.all.0.name == "Operations Supervisor"%}
            <li class="uk-nav-header"><span class="uk-margin-small-right" data-uk-icon="icon: calendar"></span>Game Analytics</li>
            <li class="{% if request.resolver_match.view_name ==  'room_analysis' %}uk-active uk-open{% endif %}"><a href="{% url 'room_analysis' %}">Room Analysis</a></li>
            <li class="{% if request.resolver_match.view_name ==  'sensor_analysis' %}uk-active uk-open{% endif %}"><a href="{% url 'sensor_analysis' %}">Sensor Analysis</a></li>
            <li class="{% if request.resolver_match.view_name ==  'trend_analysis' %}uk-active uk-open{% endif %}"><a href="{% url 'trend_analysis' %}">Trends Analysis</a></li>
        {% endif %}
        {% if  request.user.groups.all.0.name == "Administrator" or request.user.groups.all.0.name == "Owner"%}
            <li class="uk-nav-header"><span class="uk-margin-small-right" data-uk-icon="icon: warning"></span>Exception Report</li>
            <li><a href="#">Errors Report</a></li>
            <li><a href="#">Market Warnings</a></li>

            <li class="uk-nav-header"><span class="uk-margin-small-right" data-uk-icon="icon: world"></span>Market Report</li>
            <li><a href="#">Lead Generation</a></li>
            <li><a href="#">Market Segmentation</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header"><span class="uk-margin-small-right" data-uk-icon="icon: cog"></span>Settings</li>
            <li class="{% if request.resolver_match.view_name ==  'page_sensor' %}uk-active{% endif %}"><a href="{% url 'page_sensor' %}"><span class="uk-margin-small-left" data-uk-icon="icon: nut"></span> Sensors</a></li>
            <li class="{% if request.resolver_match.view_name ==  'page_venue' %}uk-active{% endif %}"><a href="{% url 'page_venue' %}"><span class="uk-margin-small-left" data-uk-icon="icon: home"></span> Venues</a></li>
        {% endif %}
        </ul>
        <div class="uk-position-bottom bar-bottom">
        <ul class="uk-subnav uk-flex uk-flex-center" data-uk-grid>
            <li>
                <a href="#" class="uk-icon-link" data-uk-icon="icon: github">Team Solothesis &nbsp;</a>
            </li>
            <li>
                <a class="uk-icon-link"></a>
            </li>
        </ul>
    </div>
    </div>
</div>