{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mystery Manila - Octomind </title>
		<link rel="icon" href="{% static 'octomindlogo.png' %}">
		<!-- CSS FILS -->
		<link rel="stylesheet" type="text/css" href="{% static 'octo_site/res/genstyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'octo_site/res/uikit/css/uikit.min.css' %}">
    </head>

	<body>
		<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-light bg" >
			<div class="uk-position-bottom-center uk-position-small uk-visible@m">
				<span class="uk-text-small uk-text-muted">© 2018 Mystery Manila - <a href="https://github.com/zzseba78/Kick-Off" style="color: #1e87f0">by Team Solothesis</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
			</div>
			<div class="uk-width-medium uk-padding-small" style="background-color: #222">
				<form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
					<fieldset class="uk-fieldset">
                        <center><h3>Create Account</h3></center>
                        <hr>

						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
								<input class="uk-input uk-form-large" required placeholder="Last name" name="lname" type="text">
							</div>
						</div>

						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
								<input class="uk-input uk-form-large" required placeholder="First name" name="fname" type="text">
							</div>
						</div>
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
                                <select class="uk-select uk-form-large"  onchange="changeType(this)" name="usertype" id="userType">
                                    <option value="" selected disabled>Usertype</option>
                                    <option value="admin">Administrator</option>
                                    <option value="gk">Gamekeeper</option>
                                    <option value="os">Operations Supervisor</option>
                                    <option value="own">Owner</option>
                                </select>
							</div>
						</div>
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
                                <select class="uk-select uk-form-large"  id="branches" name="usertype" style="display: none">
                                    <option value="" selected disabled>Branch</option>
                                    {% for branch in branches %}
                                        <option value="{{ branch.branch_id }}">{{ branch.name }}</option>
                                    {% endfor %}
                                </select>
							</div>
						</div>

                        <div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
								<input class="uk-input uk-form-large" required placeholder="Username" name="user" type="text">
							</div>
						</div>
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
								<input class="uk-input uk-form-large" required placeholder="Password" name="password" type="password">
							</div>
                        </div>
                        <div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
								<input class="uk-input uk-form-large" required placeholder="Confirm Password" name="cpassword" type="password">
							</div>
						</div>

						<div class="uk-margin">
							<button type="submit" class="uk-button uk-button-primary uk-button-primary uk-button-large uk-width-1-1">Register</button>
						</div>
					</fieldset>
				</form>
				<div>
					<div class="uk-text-center">
                        <a href="{% url 'index' %}" style="color: #1e87f0">Already have an account?</a>
					</div>
				</div>
			</div>
		</div>

		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
	</body>
</html>
<script>
    function changeType(){

        var e = document.getElementById("userType");
        var strVal = e.options[e.selectedIndex].value;
        if (strVal === "os" || strVal == "gk"){
            document.getElementById("branches").style.display = "block";
        }
        else{
            document.getElementById("branches").style.display = "none";
        }
    }
</script>