{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
{% load staticfiles %}
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    .myProgress {
      width: 80px;
    }
    .myBar {
      width: 100%;
      height: 15px;
      background-color: white;
    }
        .tbl_inp{
            background-color: #3e4042;
            color:white;
        }
        .tbl_sel{
            background-color: #3e4042;
            color:white;
        }
	</style>
<div id="content" style="padding: 0 0 0 0; background-color:#818487; margin-left: 220px;" class="uk-height-1-1" uk-height-viewport>
    <section class="uk-section uk-article " style="padding: 10px;" >
        <div class="uk-container uk-align-bottom" style="margin-top: 0vh;">
            <div class="uk-card uk-card-default uk-card-small uk-card-hover" style="background-color: #3e4042">
                <div class="uk-card-header">
                    <div class="uk-grid uk-grid-medium" >
                        <div class="uk-width-auto" >
                            <h3 class="uk-margin-remove-bottom uk-text-warning"><span class="uk-text-primary" data-uk-icon="icon: album;ratio: 1"></span> Game Log </h3>
                        </div>
                        <div class="uk-width-expand uk-text-right">
                            <button class="uk-button uk-button-primary uk-button-small" id="analyze_btn" onclick="submit_for_analysis()" disabled> Analyze <span data-uk-icon="icon: gitter"></span></button>
                        </div>
                        <div class="uk-card-body uk-align-center uk-width-1-1">
                            <div class="uk-overflow-auto">
                                    <table id="room_tbl" class="uk-table uk-table-divider" style="width:100%">
                                          <thead>
                                              <tr>
                                                  <th class="uk-table-shrink uk-text-nowrap"></th>
                                                  <th class="uk-width-small">Match ID</th>
                                                  <th class="uk-width-medium">Result</th>
                                                  <th class="uk-width-small">Team name</th>
                                                  <th class="uk-width-large">Time Start & End</th>
                                                  <th class="uk-width-medium">Duration</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                          {% load static %}
                                          {% for game in cur_games reversed%}
                                                <tr class="tbl_toggle" style="cursor:pointer">
                                                    <td class="uk-text-center"><input class="uk-checkbox" value="gago" name="room_to_analyze[]" type="checkbox"></td>
                                                    <td>
                                                        <b style="color: cornflowerblue">{{ game.match_id }}</b>
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray .uk-text-truncate">started {{ game.get_time_ago }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="txt_light_gray uk-margin-remove"><b style="color: cornflowerblue">Ongoing</b></p>
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray .uk-text-truncate">started {{ game.room.room_name }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="uk-text-emphasis uk-margin-remove txt_white"><b>{{ game.game_details.teamname }}</b></p>
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray">{{ game.get_num_clues_asked }} clues asked</p>
                                                    </td>
                                                    <td>
                                                        <p class="uk-text-emphasis uk-margin-remove txt_white"><b>{{ game.game_details.timestart.time |  time:"g:i:s A" }}</b>
                                                            {% if game.is_solved %}
                                                                to
                                                                <b>{{ game.game_details.timeend.time |  time:"g:i:s A" }}</b> </p>
                                                            {% endif %}
                                                        <p class="uk-text-small txt_light_gray" style="margin-top: 0px">{{ game.game_details.timestart.date | date:"M d, Y" }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="txt_light_gray uk-margin-remove"><b style="color: cornflowerblue">game on going .. </b></p>
                                                    </td>
                                                </tr>
                                          {% endfor %}
                                          {% for game in games reversed%}
                                                <tr class="tbl_toggle" style="cursor:pointer">
                                                    <td class="uk-text-center"><input class="uk-checkbox disabler" game-id="{{ game.game_id }}" room-name="{{ game.room.room_name }}" room-id="{{ game.room_id }}" onchange="disable_game(this)" value="gago" name="room_to_analyze[]" type="checkbox"></td>
                                                    <td>
                                                        <a href="game/{{ game.game_id }}/" style="color: white"><b>{{ game.match_id }}</b></a>
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray .uk-text-truncate">{{ game.get_time_ago }}</p>
                                                    </td>
                                                    <td>
                                                        {% if game.is_solved %}
                                                            <p class="uk-margin-remove"><b style="color: limegreen">Solved</b>
                                                                {% if game.has_error %}
                                                                    <span class="uk-text-danger" uk-tooltip="Sequence anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                                {% if game.has_warning %}
                                                                    <span class="uk-text-warning" uk-tooltip="Sensor anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                                {% if game.has_error == False and game.has_warning == False %}
                                                                    <span class="uk-text-success" uk-tooltip="No anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                            </p>
                                                        {% else %}
                                                            <p class="uk-margin-remove"><b style="color: #ffb843">Unsolved</b>
                                                                {% if game.has_error %}
                                                                    <span class="uk-text-danger" uk-tooltip="Sequence anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                                {% if game.has_warning %}
                                                                    <span class="uk-text-warning" uk-tooltip="Sensor anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                                {% if game.has_error == False and game.has_warning == False %}
                                                                    <span class="uk-text-success" uk-tooltip="No anomaly detected" data-uk-icon="icon: info;ratio: 1"></span>
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray .uk-text-truncate">{{ game.room.room_name }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="uk-text-emphasis uk-margin-remove txt_white"><b>{{ game.game_details.teamname }}</b></p>
                                                        <p class="uk-text-small uk-margin-remove txt_light_gray">{{ game.get_num_clues_asked }} clues asked</p>
                                                    </td>
                                                    <td>
                                                        <p class="uk-text-emphasis uk-margin-remove txt_white"><b>{{ game.game_details.timestart.time |  time:"g:i:s A" }}</b>
                                                            {% if game.is_solved %}
                                                                to
                                                                <b>{{ game.game_details.timeend.time |  time:"g:i:s A" }}</b> </p>
                                                            {% endif %}
                                                        <p class="uk-text-small txt_light_gray" style="margin-top: 0px">{{ game.game_details.timestart.date | date:"M d, Y" }}</p>

                                                    </td>
                                                    <td>
                                                        <p class="txt_light_gray uk-margin-remove"><b style="color: orange">{{ game.get_duration }}</b> minutes</p>
                                                        <div class="myProgress">
                                                        {% if game.get_game_conclusion == "solved" %}
                                                            <div class="myBar" style="width: {{ game.get_duration }}px"></div>
                                                        {% elif game.get_game_conclusion == "unsolved" %}
                                                            <div class="myBar" style="background-color: orange;width: {{ game.get_duration }}px"><p style="font-size: 10px;color: black">UNSOLVED</p></div>
                                                        {% elif game.get_game_conclusion == "forfeit" %}
                                                            <div class="myBar" style="background-color: orange;width: {{ game.get_duration }}px"><p style="font-size: 10px;color: dimgray">FORFEIT</p></div>
                                                        {% endif %}
                                                        </div>
                                                    </td>

                                                </tr>
                                          {% endfor %}
                                          </tbody>
                                     </table>
                                    <script>
                                        $(document).ready(function() {
                                            $('#room_tbl').DataTable();
                                            $(".dataTables_length select").addClass("uk-input tbl_inp");
                                            $(".dataTables_filter input").addClass("uk-select tbl_sel");
                                        });
                                    </script>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

	<script>
        function all_boxes_unchecked() {
            chk_boxes = document.getElementsByClassName('disabler');
            for(box in chk_boxes){
                if ($(chk_boxes[box]).prop('checked')){
                    return false;
                }
            }
            return true;
        }
        function submit_for_analysis() {
            let game_ids = get_all_checked_boxes_game_id();
            window.location.href = '{% url 'game_logs' %}analysis/'+game_ids.join("-")+'/';
        }
        function get_all_checked_boxes_game_id(){
            let data_return =[];
            chk_boxes = document.getElementsByClassName('disabler');
            for(box in chk_boxes){
                if ($(chk_boxes[box]).prop('checked')){
                    data_return.push($(chk_boxes[box]).attr("game-id"));
                }
            }
            return data_return
        }
        function disable_game(obj) {
                let tbl = $('#room_tbl').DataTable();

                chk_boxes = document.getElementsByClassName('disabler');
                for(box in chk_boxes){
                    try {
                        if ($(chk_boxes[box]).attr("room-id") !== $(obj).attr("room-id")){
                            $(chk_boxes[box]).attr("disabled",true);
                            $("#analyze_btn").attr("disabled",false);
                            tbl.search( $(obj).attr("room-name") ).draw();
                        }

                    }
                    catch(err) {
                        console.log(err);
                    }
                }

                if (all_boxes_unchecked()){

                    $("#analyze_btn").attr("disabled",true);
                    tbl.search("").draw();
                    for(box in chk_boxes){
                        $(chk_boxes[box]).attr("disabled",false);
                    }
                }
        }
        $(".tbl_toggle").click(function(e) {
            var chk = $(this).find("input:checkbox").get(0);
            console.log("clicked");
            if(e.target !== chk && chk.disabled === false)
            {
                chk.checked = !chk.checked;
                disable_game(chk);
            }
        });
	</script>
{% include 'octo_site/includes/offcanvas.html' %}

