{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
{% load staticfiles %}
    <script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>

        <link rel="stylesheet" href = "{% static 'styles/view_room.css' %}" type = "text/css">

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    .myProgress {
      width: 80px;
    }

    .myBar {
      width: 100%;
      height: 15px;
      background-color: white;
    }
    .box_shdw{

    margin: 0.5vw;
    box-shadow: 5px 5px 2.5px #aaaaaa;
    }
    .dark_box_shdw{
        background-color: #3e4042;
    margin: 0.5vw;
    box-shadow: 5px 5px 2.5px #aaaaaa;
    }
        .tbl_inp{
            background-color: #3e4042;
            color:white;
        }
        .tbl_sel{
            background-color: #3e4042;
            color:white;
        }
        .pad{
            margin: 3vh;
        }
	</style>
<div id="content" style="padding: 0 0 0 0; background-color:#818487; margin-left: 220px;" class="uk-height-1-1" uk-height-viewport>

    <section class="uk-section uk-article " style="padding: 10px;" >
        <div class="uk-container uk-align-bottom" style="margin-top: 0vh;">
            <div class="uk-card uk-card-default uk-card-small uk-card-hover" style="background-color: #3e4042; ">
                <div class="uk-card-header" style="padding: 0px 0px 0px 0px; margin: 0">
                    <div class="uk-grid uk-grid-medium" >
                        <div class="uk-width-auto pad" >
                            <h3 class="uk-margin-remove-bottom txt_white"> {{ room.room_name }} <p class="uk-text-warning" style="display: inline">Analysis</p> </h3>
                            <p class="uk-text-muted uk-text-small uk-margin-remove">For Games {% for g in games %}<b style="display: inline" class="uk-text-warning"><a href="{% url 'game_logs' %}game/{{ g.game_id }}/">{{ g.match_id }}</a></b> {% if not forloop.last %},{% endif %}{% endfor %}</p>
                        </div>
                        <div class="uk-width-expand uk-text-right pad">
                            <button class="uk-button uk-button-warning uk-button-small" onclick="window.location.href = '{% url 'game_logs' %}';" ><span data-uk-icon="icon: arrow-left"></span> BACK</button>
                            <button class="uk-button uk-button-warning uk-button-small" ><a href="#" uk-tooltip="Export data to CSV" onclick="exportData()" ><span data-uk-icon="icon: download"></span> CSV</a></button>
                            <button class="uk-button uk-button-warning uk-button-small" ><a href="#" onclick="printDiv('print_area')" uk-tooltip="Print Report" onclick="window.print()" ><i class="fa fa-print" style="font-size: 22px"></i></a></button>
                        </div>


                        <div class="uk-width-1-1" style="margin-left: 30px;padding-left:0;background-color: white;margin-top: 0vh" >
                            <div style="margin-top: 0vh;" uk-grid>
                                <div class="uk-width-1-1 uk-text-right uk-align-right" style="margin-left: 0px;">
                                    <ul uk-tab="connect: #component-tab-right; animation:  uk-animation-slide-left-medium, uk-animation-slide-right-medium" >
                                        <li><a href="#" onclick="$('#s_plot').hide()"><span data-uk-icon="icon: grid"></span> Sensor Log Distribution</a></li>
                                        <li><a href="#" onclick="$('#s_plot').hide()"><span data-uk-icon="icon: thumbnails"></span> Joint Summary</a></li>
                                        <li><a href="#" onclick="$('#s_plot').show()"><span data-uk-icon="icon: rss"></span> Sensor Mapping</a></li>
                                        <li><a href="#" onclick="$('#s_plot').hide()"><span data-uk-icon="icon: table"></span> Overview</a></li>
                                    </ul>
                                </div>
                                <div class="uk-width-expand@m uk-align-center" STYLE="margin-top:0px ;">
                                    <ul id="component-tab-right" class="uk-switcher">
                                        <li style="height: 75vh">
                                            <div class="chart-container" style="height:20vh;width:95%" >
                                                <canvas class="uk-align-center" id="log_dist" ></canvas>
                                            </div>
                                        </li>
                                        <li style="height: 75vh">
                                            <div class="chart-container" style="height:20vh;width:95%" >
                                                <canvas class="uk-align-center" id="log_sum" ></canvas>
                                            </div>
                                        </li>
                                        <li>

                                        </li>
                                        <li style="min-height: 75vh">
                                            <div class="uk-align-center uk-text-left uk-width-1-1" style="width: 90%" id="print_area">
                                                <p style="font-size: 12px">Report generated at {{ dt_now }}</p>
                                                <hr class="uk-divider-icon"/>
                                                <h3 class="uk-margin-remove">Overview: Games Analytics Report</h3>
                                                <p class="uk-margin-remove uk-text-small">For games {% for game in games %}{{ game.match_id }} {% endfor %}</p>
                                                <table class="uk-table uk-table-striped" style="border: 1px solid black;width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="bdr">Match ID</th>
                                                            <th class="bdr">Player Size</th>
                                                            <th class="bdr">Game Duration</th>
                                                            <th class="bdr">Clues Asked</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for game in games %}
                                                        <tr>
                                                            <td class="bdr" align="center">{{ game.match_id }}</td>
                                                            <td class="bdr" align="center">{{ game.get_team_size }}</td>
                                                            <td class="bdr" align="center">{{ game.get_duration }}</td>
                                                            <td class="bdr" align="center">{{ game.get_num_clues_asked }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <hr>
                                                <h4 class="uk-margin-remove">* Game Phases Summary</h4>
                                                <table class="uk-table uk-table-divider" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" >Sensor Name</th>
                                                            <th align="center">Minute Triggered Average</th>
                                                            <th align="center">Time Solved Average</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ov_phase_tbl">

                                                    </tbody>
                                                </table>
                                                <hr>
                                                <div id="ov_clues">
                                                <h4 class="uk-margin-remove">* Clues Summary</h4>
                                                <table class="uk-table uk-table-divider" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th align="left">Match ID</th>
                                                            <th align="left">Phase Name</th>
                                                            <th align="center">Detail</th>
                                                            <th align="right">Minute Recorded</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ov_clues_tbl">

                                                    </tbody>
                                                </table>
                                                </div>
                                                <h4 class="uk-margin-remove">* List of Log Summary</h4>
                                                <table class="uk-table uk-table-divider" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th align="left">Phase Name</th>
                                                            <th align="left">Sensor Name</th>
                                                            <th align="left">Time Solved</th>
                                                            <th align="left">Minute Triggered</th>
                                                            <th align="left">Times Triggered</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ov_sum_tbl">

                                                    </tbody>
                                                </table>

                                                <center><h3>------------------- END OF REPORT -------------------</h3></center>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class ="m-content-wrapper" id="s_plot" style="margin-right: 40vh" >
                                        <button class="uk-button uk-button-secondary" style="display: none;" type="button" onClick = ""  roomid = "{{ room_id }}" id = "mainInfo">Save</button>
                                        <div class = "m-sandbox-content card-lite uk-card-hover">
                                            <div class = "m-sandbox-frame">
                                                <div id="heatmap_container" style = "position: absolute; width: 360px; height: 360px;">
                                                    <canvas id = "heatmap_canvas"></canvas>
                                                </div>
                                                <div id="path_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                                                    <!-- Things get appended here thru setSandBox() -->
                                                </div>
                                                <div id="sensor_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                                                    <!-- Things get appended here thru setSandBox() -->
                                                </div>
                                                <img id="img_sensor_layout"  src="{% static 'media/' %}{{ room.blueprint_file }}" alt="" style="width: 100%;height: 100%;">
                                            </div>
                                            <div class = "m-sandbox-controller uk-text-truncate uk-text-center" style="background-color: #f7f7f7;padding:10px">
                                                <p>Blueprint for {{ room.room_name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Things get appended here thru setSandBox() -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function exportData() {
        exportToCsv('insight_report.csv', data_export);
    }
    function exportToCsv(filename, rows) {
        var processRow = function (row) {
            var finalVal = '';
            for (var j = 0; j < row.length; j++) {
                var innerValue = row[j] === null ? '' : row[j].toString();
                if (row[j] instanceof Date) {
                    innerValue = row[j].toLocaleString();
                };
                var result = innerValue.replace(/"/g, '""');
                if (result.search(/("|,|\n)/g) >= 0)
                    result = '"' + result + '"';
                if (j > 0)
                    finalVal += ',';
                finalVal += result;
            }
            return finalVal + '\n';
        };

        var csvFile = '';
        for (var i = 0; i < rows.length; i++) {
            csvFile += processRow(rows[i]);
        }

        var blob = new Blob([csvFile], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, filename);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }
    function printDiv(div) {
        var printStr = "<script>"+"window.print();</"+"script>";
        var printCont = document.getElementById(div);
        var html = '<html><head>'+
               '<title>Report For Game {{ game.match_id }}</title>'+
               '</head><style>@page { size: auto;  margin-top: 0mm;margin-left:1vw;margin-right:1vw }</style><body style="background:#ffffff;">'+
               printCont.innerHTML+
               '</body></html>'+printStr;
        var WindowObject =window.open('',"Print Window",
            "width=1200,height=1200,top=650, left=650, toolbars=no, scrollbars=no,resizable=no");
        WindowObject.document.writeln(html);
        WindowObject.document.close();
        WindowObject.focus();
        WindowObject.print();
        WindowObject.close();

    }
    function fillOverview() {
        $('#ov_sum_tbl');
        $('#ov_clues_tbl');
        $('#ov_phase_tbl');
    }
</script>
<script>
    var color = Chart.helpers.color;
    let chartColors = {
      red: 'rgb(255, 65, 54)',
      yellow: 'rgb(239, 206, 0)',
      green: 'rgb(61, 142, 106)',
      blue: 'rgb(28, 143, 219)',
      orange: 'rgb(255, 118, 0)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(231,233,237)',
      black: 'rgb(0,0,0)',
    };

    var colorNames = Object.keys(chartColors);

    window.onload = function() {
        let log_sum_ctx = document.getElementById('log_sum').getContext('2d');
        window.myLogSummary = new Chart(log_sum_ctx, {
        type: 'bubble',
        data: bubbleChartData,
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Log Summary for Game/s {{ game_ids|join:", " }}'
            },
            tooltips: {
                mode: 'nearest',
                intersect: false,
                custom: function(tooltip) {
                if (!tooltip) return;
                    // disable displaying the color box;
                    tooltip.displayColors = true;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        if (tooltipItem.datasetIndex === bubbleChartData.datasets.length-2){
                            //console.log("sensor_names",data.sensor_names);
                            return tooltipItem.xLabel;
                        }
                        if (tooltipItem.datasetIndex === bubbleChartData.datasets.length-1){
                            //console.log("sensor_names",data.sensor_names);
                            return data.sensor_names[tooltipItem.index+1];
                        }

                        val = tooltipItem.xLabel;
                        sec = ((val % 1)*60).toFixed(2);
                        min = Math.floor(val);
                        if (min !== 0 || sec !== 0){
                            if (parseInt(sec) === 0){
                                    return min + ":00";
                                }
                            if (parseInt(min) === 0){
                                    return "00:00" + sec;
                                }
                            if (Math.round(sec) < 10){

                                return min + ":0" + Math.round(sec);
                            }
                            return min + ":" + Math.round(sec);
                        }
                        return 'Ano daw';
                    },
                    title: function(tooltipItem, data) {

                            //console.log("cdata",data.clues_data[tooltipItem[0].index].phase_name);
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-2){
                            return data.clues_data[tooltipItem[0].index].phase_name;
                        }
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-1){
                            return null;
                        }
                        return data.datasets[tooltipItem[0].datasetIndex].label
                    },
                    afterTitle: function(tooltipItem, data) {
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-1){
                            return null;
                        }
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-2){
                            //console.log("sensor_names",data.sensor_names);
                            return null;
                        }

                        return "Game "+(10000+data.dataset_game_ids[1][tooltipItem[0].index]);
                    },
                    afterBody: function(tooltipItem, data) {
                        str=["-----"];
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-1){

                            str.push("Time solved average: "+tooltipItem[0].yLabel);
                            str.push("Minute triggered average: "+tooltipItem[0].xLabel);
                            return str;
                        }
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-2){
                            str.push("Details: "+data.clues_data[tooltipItem[0].index].detail);
                            return str;
                        }

                        val = parseFloat(tooltipItem[0].yLabel);
                        sec = ((val % 1)*60).toFixed(2);

                        min = Math.floor(val);
                        if (min !== 0 && sec !== 0){
                        if (parseInt(sec) === 0){
                                return 'Solved in ' + min + " min";
                            }
                            return "Solved in "+min + " min and " + Math.round(sec) +" sec" ;
                        }
                        return 'Ano daw';
                    },
                    beforeFooter: function(tooltipItem, data) {
                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-2){
                            //console.log("sensor_names",data.sensor_names);
                            return null;
                        }

                        if (tooltipItem[0].datasetIndex === bubbleChartData.datasets.length-1){
                            return null;
                        }
                            return "Log Frequency: "+data.dataset_r_vals[tooltipItem[0].datasetIndex+1][tooltipItem[0].index];
                    },

                    // Use the footer callback to display the sum of the items showing in the tooltip

                  },
                footerFontStyle: 'normal'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'minutes triggered',
                        max: 60
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString:'time solved (min)'
                    }
                }]
            }
        }
    });
        var log_dist_ctx = document.getElementById('log_dist').getContext('2d');
        window.LogDistributionChart = Chart.Scatter(log_dist_ctx, {
            data: scatterChartData,
            options: {
                title: {
                    display: true,
                    text: 'Sensor Log Distribution for Game/s {{ game_ids|join:", " }}'
                },

                tooltips: {
                mode: 'nearest',
                intersect: false,
                custom: function(tooltip) {
                if (!tooltip) return;
                // disable displaying the color box;
                tooltip.displayColors = true;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        val = tooltipItem.xLabel;
                        sec = ((val % 1)*60).toFixed(2);

                        min = Math.floor(val);
                        if (min !== 0 && sec !== 0){
                        if (parseInt(sec) === 0){
                                return 'Elapsed: ' + min + " min";
                            }
                            return min + " min and " + sec +" sec" ;
                        }
                        return 'Ano daw';
                    },
                    title: function(tooltipItem, data) {
                        console.log(data);
                        console.log(tooltipItem[0].datasetIndex);

                        game_id = parseInt(data.datasets[tooltipItem[0].datasetIndex].label)-10000;
                        return data.sensor_names[game_id][tooltipItem[0].index];

                    },
                    afterTitle: function(tooltipItem, data) {
                        return "Game "+data.datasets[tooltipItem[0].datasetIndex].label;

                    },

                    // Use the footer callback to display the sum of the items showing in the tooltip

                  },
                footerFontStyle: 'normal'
            },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'minutes',
                            max: 60
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                        },
                        ticks: {
                            beginAtZero: true,
                            steps: 0,
                            min: 0,
                            stepValue: 1,
                            max: {{ room.num_sensors }} + 0.3,
                            callback: function(value, index, values){
                                return yLbl[value];
                            }
                        }
                    }]
                }

            }
        });

        initLogSumData();
        initLogDistData();
        window.LogDistributionChart.update();
        setTimeout(() => {
            $("#s_plot").hide();
        },2000);
    };
</script>

{% include 'octo_site/includes/log_summaries/log_summary.html' %}
{% include 'octo_site/includes/log_summaries/log_distribution.html' %}
{% include 'octo_site/includes/live_sandboxes/live_sandbox_joint.html' %}
{% include 'octo_site/includes/offcanvas.html' %}

