{% load staticfiles %}
{% load templaterange %}
{% load get_attr %}
        {% include 'octo_site/includes/header.html' %}
        <style>
            .gameHead{
                position: relative;
                width: 100%;
                height: 200px;
                color: white;
            }
            .cardHeader{
                background-color: rgba(0,0,0,0.7);
                position: absolute;
                width: 100%;
                height: 200px;
                color: white;
                text-align: center;
                line-height: 200px;
            }
            .timeLeft{
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
            .playerContainer{
                width: 70%;
                float:left;
            }
            .clueContainer{
                width: 30%;
                float:left;
            }
            .playerHeader{
                color: white;
            }
            .clueContainer{
                text-align: right;
                color: white;
            }
            .div-lock{
                float: right;
                width: 15px;
                height: 15px;
                margin: 2px;
            }
            .personText{
                width: 50%;
                float:left;
                color: white;
                font-size: 8pt;
            }
            .panelCard{
                background-color: #2a2016;
            }
            .panelImage{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .div-lock-img{
                width: 100%;
                height: 100%;
            }
            .atag{
                text-decoration: none;
            }
            .clue-button{
                position: absolute;
                right: 15px;
                top: 5px;
            }
        </style>
<!-- CONTENT -->
<div id="content" style="padding: 10px 0 0 0; margin-left: 240px;">
    <div class="uk-container uk-container-expand">
        
        <div class="uk-grid uk-grid-medium uk-grid-match" data-uk-grid>
            <!-- panel -->
            {% for i in rooms reversed%}
            <!-- panel -->
            <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-3@xl">
                {% with specGame=games|attr:i.room_id%}
                {% if specGame != None %}
                <a href = "{% url 'view_room' specGame|attr:'game_id' %}" uk-toggle class = "atag" >
                {% else %}
                <a href = "#modal-example" uk-toggle class = "atag" roomid = "{{ i.room_id }}" onClick ="setModal(this)" >
                {% endif %}
                {% endwith %}
                    <div class="panelCard">
                        <div class = "gameHead">
                            <img class = "panelImage" src = "{% static 'media/' %}{{ i.header_img }}">
                            <div class = "cardHeader">{{ i.room_name }}
                                <p  style="margin-top: 5vh; font-size: 12px">
                                    {{ i.branch.name }}
                                </p>
                            </div>
                            {% with specGame=games|attr:i.room_id%}
                                {% with minutes=specGame|attr:"minutes" seconds=specGame|attr:"seconds" %}
                                    {% if specGame != None %}
                                        <div class = "timeLeft">Time left: 
                                                <span class = "spanTimestamp" minutes = {{ minutes }} seconds = {{ seconds }}>
                                                    {{ minutes }}:{{ seconds }}
                                                </span>
                                            </div>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                            {% comment %} <div class = "clue-button" onClick = "">?</div> {% endcomment %}
                        </div>    
                        <div class="uk-card-body">
                            <div class = "playerContainer" style = "height: 70px;">
                            {% with specGame=games|attr:i.room_id%}
                                {% if specGame != None %}
                                    <div class = "playerHeader">Current Players</div>
                                    {% for player in specGame|attr:"players" %}
                                    <div class = "personText">{{ player.firstname }} {{ player.lastname }}</div>
                                    {% endfor %}
                                
                                </div>
                                <div class = "clueContainer">
                                    <div class = "clueHeader">Clues:</div>

                                    {% comment %} {% for clueLength in specGame|attr:"mystery" %}
                                        <div class = "div-lock"><img class = "div-lock-img" src = "{% static 'octo_site/assets/img/clue-close.png' %}"></div>
                                    {% endfor %} {% endcomment %}
                                    {% for clueLength in specGame|attr:"clues" %}
                                        <div class = "div-lock"><img class = "div-lock-img" src = "{% static 'octo_site/assets/img/clue-open.png' %}"></div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class = "playerHeader" style = "color: #696969">No Current Team</div>
                                </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- panel -->
            <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-3@xl" style = "visibility: hidden;">
                <a href = "#" class = "atag">
                    <div class="panelCard">
                        <div class = "gameHead">
                            <img class = "panelImage" src = "{% static 'octo_site/assets/img/rebeccas-room.jpg' %}">
                            <div class = "cardHeader">Rebeccas room</div>
                            <div class = "timeLeft">Time left: 12:40</div>
                        </div>    
                        <div class="uk-card-body">
                            <div class = "playerContainer" style = "height: 70px;">
                                <div class = "playerHeader" style = "color: red">No Current Team</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- /panel -->
        
    </div>
</div>
<!-- /CONTENT -->

<!-- MODALS -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Assign Team</h2>
        <div style="margin-bottom: 2vh;">
        <button class = "uk-button uk-button-secondary uk-button-small bord_rad" onclick="openMonitor()" type="button" uk-tooltip="title: Open New Screen"><span uk-icon="desktop"></span></button>
        <button class = "uk-button uk-button-secondary uk-button-small bord_rad" onclick="fullMonitor()" type="button" uk-tooltip="title: Full screen"><span uk-icon="expand"></span></button>
        </div>
        <div class="uk-inline uk-width-1-1">
            <button class="uk-button uk-button-default uk-width-1-1" type="button">Select team</button>
            <div uk-dropdown="pos: bottom-justify" class = "uk-width-1-1">
                <ul class="uk-nav uk-dropdown-nav uk-width-1-1" id = "teamitem">

                    <li><a href="#">Team Solothes</a></li>
                    <!--
                    <li class="uk-active "><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Item</a></li>
                    -->
                </ul>
            </div>
            <div>
                Members:
                <div id = "memberlist">
                    <div>None</div>
                </div>
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" onClick = "test()">Save</button>
        </p>
    </div>
</div>
<!-- /MODALS -->


<!-- SCRIPTS -->
<script>
var selectedg = null;
var selectedgd = null;
var tv_monitor_window = null;
function openMonitor() {
    tv_monitor_window = open("{% url 'tv_monitor' %}262", "myWindow", "width=1500,height=1000");
    // myWindow.document.write(elem);
    // myWindow.document.html(elem);
    //myWindow.opener.document.write("<p>This is the source window!</p>");
}

function fullMonitor(){
    var elem = tv_monitor_window.document.getElementById("all");
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        console.log("shet");
        elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
    }
    console.log("HEHE");
}

function setModal(target){
    var rid = target.getAttribute("roomid");
    $.ajax({
            type:"POST",
            url:"/octo_site/api/get_cur_games/",
            data: {
                'room_id': rid,
            },
            success: function(data){
                games = data.data;
                if(games.length > 0){
                    $("#teamitem").empty();
                    for(var i = 0; i < games.length; i++){
                        $("#teamitem").append('<li><a href="#" gid = "'+games[i].game+'"" gdid = "'+games[i].gamedetail+'" onClick = "addInfo(this)" > Team: '+games[i].teamname+'</a></li>');
                    }
                }
                else{
                    $("#teamitem").empty();
                    selectedg = null;
                    $("#memberlist").empty();
                    $("#memberlist").append('<div>None</div>');
                    $("#teamitem").append('<li><a href="#">No games scheduled in the room</a></li>');
                }
                //alert("DONE")

            }
    });
}

function addInfo(target){
    selectedg = target.getAttribute("gid");
    selectedgd = target.getAttribute("gdid");
    $.ajax({
            type:"POST",
            url:"/octo_site/api/get_player_list/",
            data: {
                'game_id': selectedg,
            },
            success: function(data){
                var players = data.data;
                if(players.length == 0){
                    $("#memberlist").empty();
                    $("#memberlist").append('<div>None</div>');
                }
                else{

                    $("#memberlist").empty();
                    for(var i = 0; i < players.length; i++){
                        $("#memberlist").append('<div>'+players[i].name+'</div>');
                    }
                }

            }
    });
}
function test(){
    $.ajax({
            type:"POST",
            url:"/octo_site/api/start_game/",
            data: {
                'game_id': selectedg,
            },
            success: function(data){
                location.reload();
            }
    });
}

/* 
    $.ajax({
            type:"POST",
            url:"/octo_site/api/get_cur_games/",
            data: {
                'room_id': 1,
            },
            success: function(data){
                console.log(data);
                alert("DONE")

            }
    });
*/

var times = 0
function loop(){
    setInterval(() => {
        var timestamps = document.getElementsByClassName("spanTimestamp");
        for(var i = 0; i < timestamps.length; i++)
        {
            var ts = timestamps.item(i);
            var tmins = ts.getAttribute("minutes");
            var tsecs = Number(ts.getAttribute("seconds"));
            var totalsecs =  tmins*60 + tsecs;
            
            totalsecs = totalsecs - times;
            if(totalsecs >= 0){
                tmins = Math.floor(totalsecs/60);
                tsecs = totalsecs%60;
                tmins = tmins < 10 ? "0"+tmins : tmins;
                tsecs = tsecs < 10 ? "0"+tsecs : tsecs;
                ts.innerHTML = tmins+":"+tsecs;
            }
            else{
                location.reload();
            }
        }

        times = times+1
    }, 1000);
}
loop();
</script>
<!-- /SCRIPTS -->
{% include 'octo_site/includes/offcanvas.html' %}
