<!doctype html>
<html>
{% load staticfiles %}
<head>
	<title>Line Chart</title>
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>

	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
    <button id="pullData" onclick="pullData()">Pull Data</button>
    <script>
        const socket = new WebSocket('ws://localhost:8000/octo_site/');
        // Connection opened
        socket.addEventListener('open', function (event) {
            socket.send('Hello Server!');
        });
        // Listen for messages
        socket.addEventListener('message', function (event) {
            console.log('Message from server ', event.data);
        });

        if(typeof(EventSource) !== "undefined") {
            console.log("im zucc port");
        } else {

        }
    </script>
	<script>
        let to_add=[];
        let sensor_data;
		let MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		let config = {
			type: 'line',
			data: {
				labels: [],
				datasets: [{
					label: 'Time Triggered at',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: '{{ room.room_name }} Game #69'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Sensor Name'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'seconds'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			initData();
            console.log("started");
			window.setInterval(reloadData, 1000);

		};
		function reloadData() {

            sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
            sensor_data.done(function(results){
                if (config.data.datasets[0].data.length < results.data.length){
                    to_pop = results.data.length % config.data.datasets[0].data.length  ;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        console.log(to_add[i].sensor_name+"-"+to_add[i].value);
                        config.data.labels.push(to_add[i].sensor_name);
                        config.data.datasets[0].data.push(to_add[i].value);
                        window.myLine.update();
                    }
                    window.myLine.update();
                }
            });

        }
        function pullData() {
           sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
           sensor_data.done(function(results){
               // console.log(results.data);
           });
           //splice data
        }
        function initData() {
           sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
           sensor_data.done(function(results){

                obj = results.data;

                for (i in obj)
                {
                   // console.log(obj[i]);
                    config.data.labels.push(obj[i].sensor_name);
			        config.data.datasets[0].data.push(obj[i].value);

			    window.myLine.update()
                }
           });

			window.myLine.update();
        }
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});

			});

			window.myLine.update();
		});
		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};

			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);

				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});

				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first

			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});

			window.myLine.update();
		});
	</script>
</body>

</html>
