<!doctype html>
<html>
{% load staticfiles %}
<head>
	<title>Line Chart</title>
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>

	<script>
        let to_add=[];
        let sensor_data;
        let sensors=[];
        let color = Chart.helpers.color;
        let start_time=new Date ("{{ game.game_details.timestart |date:'Y-m-d H:i:s' }}");
        console.log(start_time);
		let config = {
			type: 'line',
			data: {
			    start_time: start_time,
				labels: [],
				datasets: [],
                statuses:[],
			},
			options: {
				responsive: true,
                spanGaps:true,
                legend: {
                    position: 'bottom',
                },
				title: {
					display: true,
					text: '{{ room.room_name }} Game #69'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
                    /*
                    callbacks: {
						// Use the footer callback to display the sum of the items showing in the tooltip
						footer: function(tooltipItems, data) {
							let val = null;
							let min = null;
							let sec = null;
							let stat = null;
							tooltipItems.forEach(function(tooltipItem) {
								val = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
								sec = ((val % 1)*60).toFixed(2);
								min = Math.floor(val);
								stat = data.statuses[tooltipItem.index];
							});
							if(stat){
                                if (min !== 0 && sec !== 0){
                                    if (parseInt(sec) === 0){
                                        return 'Elapsed: ' + min + " min";
                                    }
                                    return 'Elapsed: ' + min + " min and " + sec +" sec" ;
                                }
                            }
                            return 'Not solved yet';
						},
                        beforeFooter: function(tooltipItems,data) {
                            var multistringText = [''];
							let start_time = data.start_time;
							let time_solved= start_time;
                            let d1=null;
                            let d2=null;
							let stat = null;
							tooltipItems.forEach(function(tooltipItem) {

							    stat = data.statuses[tooltipItem.index];
								val = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
								if(tooltipItem.index !== 0){
                                    for(let i=0; i <= tooltipItem.index;i++){
                                        time_solved = new Date(time_solved.getTime() + (data.datasets[tooltipItem.datasetIndex].data[i]*60000));
								    }
                                }
                                else{
								    time_solved = new Date(start_time.getTime() + (data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]*60000));
								}
							});

							if(stat){
                                multistringText.push("Solved at "+time_solved.getHours()+":"+time_solved.getMinutes()+":"+time_solved.getSeconds());
                            }

                            return multistringText;
                        }
					},
					*/
					footerFontStyle: 'normal'
				},
				hover: {
					mode: 'index',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
                        type: 'time',
						scaleLabel: {
							display: true,
							labelString: 'time triggered'
						}
					}],
					yAxes: [{
						display: false,
						scaleLabel: {
							display: true,
						},
						ticks: {
                                beginAtZero: true,
                                steps: 0,
                                min:0,
                                stepValue: 5,
                                max: 4.00001
                            }
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			initData();
            console.log("started");
			//window.setInterval(reloadData, 1000);
		};
		function reloadData() {
            sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
            sensor_data.done(function(results){
                if (config.data.datasets[0].data.length < results.data.length){
                    to_pop = results.data.length % config.data.datasets[0].data.length  ;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        console.log(to_add[i].sensor_name+"-"+to_add[i].value);
                        config.data.labels.push(to_add[i].sensor_name);
                        config.data.datasets[0].data.push(to_add[i].value);
                        window.myLine.update();
                    }
                    window.myLine.update();
                }
            });
        }
        function initData() {

           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           sensor_data.done(function(results){
                console.log(results);
                obj = results.sensors;
                newYAxis = null;

                for (i in obj)
                {
                   colorName = colorNames[config.data.datasets.length % colorNames.length];
                   newColor = window.chartColors[colorName];
                   newXAxis = {
                        id: "id-"+i,
                        type: 'time',
                        position: 'bottom',
                        display: false,
                        ticks: {
                        min: 0,
                        max: 168,
                        stepSize: 1000
                        }

                   };
                   newDataset = {
                        type: 'line',
                        label: obj[i].sensor_name,
                        xAxisID:"id-"+i,
                        borderWidth: 5,
                        pointStyle: 'dash',
                        backgroundColor: color(newColor).alpha(0.2).rgbString(),
                        borderColor: newColor,
                        data: [],
                        fill: true
                   };

                   config.data.datasets.push(newDataset);
                   sensors.push(obj[i].sensor_id);
                   config.options.scales.xAxes.push(newXAxis);
                   window.myLine.update()
                }
           });
           let game_data =  $.get("/octo_site/api/game_cur_logs/1/");
           game_data.done(function(results){
               let obj = results.data;
               let new_obj = [];
               let ctr = 0;
               let prev_ts=null;
               console.log(obj);
                for (obx in obj)
                {
                   let ind = sensors.indexOf(obj[obx].sensor_id);
                   if(ind !== 0){
                       let time_stamp = new Date(obj[obx].timestamp);
                       new_obj.push(prev_ts);
                       prev_ts=obj[obx].timestamp;
                   }
                   else{
                       new_obj.push(start_time);
                       prev_ts=obj[obx].timestamp;
                   }
                   ctr+=1;
                }
                for (n in new_obj){
                    console.log(new_obj[n]);
                }

                for (ob in obj)
                {
                   let ind = sensors.indexOf(obj[ob].sensor_id);
                   if(ind !== 0){
                       config.data.labels.push(new_obj[ob]);
                       config.data.labels.push(new Date(obj[ob].timestamp));
                       for(let x =0; x < sensors.length;x++){
                            if(obj[ob].sensor_id === sensors[x]){
                                config.data.datasets[x].data.push(sensors.length-0.75-ob);
                                config.data.datasets[x].data.push(sensors.length-0.75-ob);
                            }
                            else{
                                config.data.datasets[x].data.push(null);
                                config.data.datasets[x].data.push(null);
                            }
                        }
                   }
                   else{
                       config.data.labels.push(start_time);
                       config.data.labels.push(new Date(obj[ob].timestamp));
                       for(let x =0; x < sensors.length;x++){
                            if(obj[ob].sensor_id === sensors[x]){
                                config.data.datasets[x].data.push(sensors.length-0.75);
                                config.data.datasets[x].data.push(sensors.length-0.75);
                            }
                            else{
                                config.data.datasets[x].data.push(null);
                                config.data.datasets[x].data.push(null);
                            }
                        }
                   }
                   window.myLine.update()
                }
                console.log(config.data.labels);
                console.log(config.data.datasets);
           });
			window.myLine.update();
        }
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myLine.update();
		});
		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: color(newColor).alpha(0.5).rgbString(),
				borderColor: newColor,
				data: [],
				fill: false
			};
			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}
			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);
				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});
				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first
			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});
			window.myLine.update();
		});
	</script>
</body>

</html>
