<!doctype html>
<html>
{% load staticfiles %}
<head>
	<title>Line Chart</title>
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
    <button id="pullData" onclick="pullData()">Pull Data</button>

	<script>
        let to_add=[];
        let sensor_data;
		let colorNames = Object.keys(window.chartColors);
        let start_time=new Date ("{{ game.game_details.timestart |date:'Y-m-d H:i:s' }}");
        console.log(start_time);
		let config = {
			type: 'line',
			data: {
			    start_time: start_time,
				labels: [],
				datasets: [],
                statuses:[],
			},
			options: {
			    spanGaps:true,
				responsive: true,
                legend: {
                    position: 'bottom',
                },
				title: {
					display: true,
					text: '{{ room.room_name }} Game #69'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					footerFontStyle: 'normal'
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				scales: {
					xAxes: [{
						display: true,
                        type: 'time',
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{

						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Activation Status'
						},
						ticks: {
                                beginAtZero: true,
                                steps: 0,
                                min:0,
                                stepValue: 5,
                                max: 1.0001
                            }
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			initData();
            console.log("started");
			//window.setInterval(reloadData, 1000);
		};
		function reloadData() {
            sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
            sensor_data.done(function(results){
                if (config.data.datasets[0].data.length < results.data.length){
                    to_pop = results.data.length % config.data.datasets[0].data.length  ;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        console.log(to_add[i].sensor_name+"-"+to_add[i].value);
                        config.data.labels.push(to_add[i].sensor_name);
                        config.data.datasets[0].data.push(to_add[i].value);
                        window.myLine.update();
                    }
                    window.myLine.update();
                }
            });
        }
        function pullData() {
           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           sensor_data.done(function(results){
                console.log(results.data);
           });
           //splice data
        }
        function initData() {
		   let time = start_time;
		   let newDataset;
		   let newXAxis;
		   let colorName;
		   let newColor;
		   let sensors = [];


           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           sensor_data.done(function(results){
              let obj = results.sensors;
               for (i in obj)
               {
                   colorName = colorNames[config.data.datasets.length % colorNames.length];
                   newColor = window.chartColors[colorName];
                   newXAxis = {
                        id: "id-"+i,
                        type: 'time',
                        position: 'bottom',
                        display: false,
                        ticks: {
                        min: 0,
                        max: 168,
                        stepSize: 1000
                        }

                   };
                   newDataset = {
                        type: 'line',
                        label: obj[i].sensor_name,
                        xAxisID:"id-"+i,
                        backgroundColor: newColor,
                        borderColor: newColor,
                        data: [],
                        dd:[],
                        fill: false
                   };

                   config.data.datasets.push(newDataset);
                   sensors.push(obj[i].sensor_id);
                   config.options.scales.xAxes.push(newXAxis);
                   window.myLine.update()
               }

           });
		   sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
           sensor_data.done(function(results){

                obj = results.data;
               console.log(obj);
                for (ob in obj)
                {
                  // if(start_time !== new Date(obj[i].timestamp)){
                    config.data.labels.push(new Date(obj[ob].timestamp));
                   //}
                   // config.data.datasets[sensors.indexOf(obj[i].sensor_id)].data.push(obj[i].value);
                    console.log("sid: "+obj[ob].sensor_id);
                    for(let x =0; x < sensors.length;x++){
                        console.log("sens_id&sen_id - ind: "+obj[ob].sensor_id+" "+sensors[x]+" "+x);
                        if(obj[ob].sensor_id === sensors[x]){
                            console.log(obj[ob]);
                            config.data.datasets[x].dd.push(obj[ob].timestamp);
                            config.data.datasets[x].data.push(obj[ob].value);

                            console.log(config.data.datasets[x].dd);

                            console.log(config.data.datasets[x].data);
                        }
                        else{
                            config.data.datasets[x].data.push(null);
                        }
                    }
			        window.myLine.update()
                }

                //console.log(sensors);
                for( x in config.data.datasets){
                    console.log(config.data.datasets[x].data);
                }
           });
		   /*
           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           //load lables
            for (let index = 1; index <= 300; ++index) {
                time = new Date(time.getTime() + (1000));

				config.data.labels.push(time.getHours()+":"+time.getMinutes()+":"+time.getSeconds());
			}

            for (let index = 0; index < sensors.length; ++index) {
                colorName = colorNames[config.data.datasets.length % colorNames.length];
                newColor = window.chartColors[colorName];
                newDataset = {
                    label: sensors[index]+' Dataset ' + config.data.datasets.length,
                    backgroundColor: newColor,
                    borderColor: newColor,
                    data: [],
                    fill: false
                };
                for (let index = 0; index < config.data.labels.length; ++index) {
                    if(index <= config.data.labels.length*0.2){

                        newDataset.data.push(0);
                    }else if((index >= config.data.labels.length*0.8)){

                        newDataset.data.push(0);
                    }
                    else{
                        newDataset.data.push(1);
                    }

                }
                config.data.datasets.push(newDataset);
			    window.myLine.update();
            }
			window.myLine.update();
           /*
           time_solved = new Date(time_solved.getTime() + (data.datasets[tooltipItem.datasetIndex].data[i]*60000));
           sensor_data.done(function(results){
                console.log(results);
                obj = results.sensors;
                for (i in obj)
                {
                    config.data.labels.push(obj[i].sensor_name);
			        //config.data.datasets[0].data.push(obj[i].value);
			        window.myLine.update()
                }
           });
           let game_data =  $.get("/octo_site/api/game_cur_logs/1/");
           game_data.done(function(results){
               for (i in results.data){
                   let colorName = colorNames[config.data.datasets.length % colorNames.length];
                   let newColor = window.chartColors[colorName];

                   for(lab in config.data.labels){
                       if (config.data.labels[lab] === results.data[i].sensor_name){
                           config.data.datasets[0].data[lab] = results.data[i].time_solved.toFixed(2);
			               if(parseInt(config.data.datasets[0].data[lab]) !== 0){
			                   config.data.statuses[lab] = true;
                           }
                           else{
			                   config.data.statuses[lab] = false;
                           }
                           window.myLine.update();
                       }
                   }
               }
           });
        */



			window.myLine.update();
        }
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myLine.update();
		});
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};
			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}
			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);
				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});
				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first
			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});
			window.myLine.update();
		});
	</script>
</body>

</html>
