<!doctype html>
<html>
{% load staticfiles %}
<head>
	<title>Line Chart</title>
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
    <button id="pullData" onclick="pullData()">Pull Data</button>

	<script>
        let to_add=[];
        let sensors=[];

        let color = Chart.helpers.color;
        let sensor_data;
        let sensor_data_len;
        let chartColors = {
          red: 'rgb(255, 99, 132)',
          orange: 'rgb(255, 159, 64)',
          yellow: 'rgb(255, 205, 86)',
          green: 'rgb(75, 192, 192)',
          blue: 'rgb(54, 162, 235)',
          purple: 'rgb(153, 102, 255)',
          grey: 'rgb(231,233,237)',
          black: 'rgb(0,0,0)',
        };
		let colorNames = Object.keys(window.chartColors);
        let start_time=new Date ("{{ game.game_details.timestart |date:'Y-m-d H:i:s' }}");
        console.log(start_time);
		let config = {
			type: 'line',
			data: {
			    start_time: start_time,
				labels: [],
				datasets: [],
                statuses:[],
			},
			options: {
			    elements:{
			        line: {
			            tension: 0
                    }
                },
			    spanGaps:true,
				responsive: true,
                legend: {
                    position: 'bottom',
                },
				title: {
					display: true,
					text: '{{ room.room_name }} Game #69'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					footerFontStyle: 'normal'
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				scales: {
					xAxes: [{
						display: true,
                        type: 'time',
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{

						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Activation Status'
						},
						ticks: {
                                beginAtZero: true,
                                steps: 0,
                                min:0,
                                stepValue: 5,
                                max: 1.0001
                            }
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			initData();
            console.log("started");
			window.setInterval(reloadData, 1000);
		};
		function reloadData() {
		    console.log("reading");
            sensor_data =  $.get("/octo_site/sensor_data/{{ game.game_id }}");
            sensor_data.done(function(results){
                if (sensor_data_len < results.data.length){
                    let to_pop = results.data.length % sensor_data_len;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        config.data.labels.push(new Date(to_add[i].timestamp));
                        for(let x =0; x < sensors.length;x++){
                            if(to_add[i].sensor_id === sensors[x]){
                                config.data.datasets[x].data.push(to_add[i].value);
                            }
                            else{
                                config.data.datasets[x].data.push(null);
                            }
                        }
                        window.myLine.update();
                    }
                    sensor_data_len += to_pop;
                    window.myLine.update();
                }
            });
        }
        function pullData() {
           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           sensor_data.done(function(results){
                console.log(results.data);
           });
           //splice data
        }
        function initData() {
		   let time = start_time;
		   let newDataset;
		   let newXAxis;
		   let colorName;
		   let newColor;


           sensor_data =  $.get("/octo_site/api/get_sensor_by_room_id/{{ room.room_id }}/");
           sensor_data.done(function(results){
              let obj = results.sensors;
               for (i in obj)
               {
                   colorName = colorNames[config.data.datasets.length % colorNames.length];
                   newColor = window.chartColors[colorName];
                   newXAxis = {
                        id: "id-"+i,
                        type: 'time',
                        position: 'bottom',
                        display: false,
                        ticks: {

                        min: 0,
                        max: 168,
                        stepSize: 1000
                        }

                   };
                   newDataset = {
                        type: 'line',
                        label: obj[i].sensor_name,
                        xAxisID:"id-"+i,
                        steppedLine: true,
                        pointStyle: 'circle',
                        backgroundColor: color(newColor).alpha(0.2).rgbString(),
                        borderColor: newColor,
                        data: [],
                        fill: false
                   };

                   config.data.datasets.push(newDataset);
                   sensors.push(obj[i].sensor_id);
                   config.options.scales.xAxes.push(newXAxis);
                   window.myLine.update()
               }

           });
		   sensor_data =  $.get("/octo_site/sensor_data/{{ game.game_id }}");
           sensor_data.done(function(results){
               sensor_data_len = results.data.length;
               obj = results.data;
                for (ob in obj)
                {
                    config.data.labels.push(new Date(obj[ob].timestamp));
                    for(let x =0; x < sensors.length;x++){
                        if(obj[ob].sensor_id === sensors[x]){
                            config.data.datasets[x].data.push(obj[ob].value);
                        }
                        else{
                            config.data.datasets[x].data.push(null);
                        }
                    }
			        window.myLine.update()
                }

           });
        let summary_data =  $.get("/octo_site/api/game_summary/{{ game.game_id }}/");
            summary_data.done(function(results){
                console.log(results.data);
           });
			window.myLine.update();
        }
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myLine.update();
		});
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};
			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}
			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);
				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});
				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first
			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});
			window.myLine.update();
		});
	</script>
</body>

</html>
