{% include 'blog/temp.html' %}

{% load staticfiles %}
<html>
<body>

<div class="col-md-6">
{% if posts %}
    {%  for post in posts reversed %}
        {% if post.author.username == user.username %}
            <div class="container">
                    <div id="loginbox"  class=" col-md-7 ">

                        <div class="panel panel-info" >
                                <div class="panel-heading">
                                    <div class="panel-title">
                                                <div class="pull-left">
                                                       <a href = "/blog/{{ post.id }}/">{{ post.title|slice:":50" }}</a>
                                                </div>

                                                <div class="pull-right" >
                                                    <div class="text-right">
                                                        {{ post.author.first_name }} {{ post.author.last_name }} <br/>
                                                        @ <small>{{ post.date }}</small>
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div style="padding-top:30px" class="panel-body" >
                                            <p>{{ post.content|linebreaks|slice:"200" }}</p>
                                </div>
                                <div class="panel-footer">
                                    <form action="{% url 'shows' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default">Show Comments</button>
                                    </form>
                                    {% if show %}

                                        {% for comment in comments %}

                                            {% if comment.post_id == post.id %}

                                                <b><p>{{ comment.author.first_name }} {{ comment.author.last_name }}</p> said on {{ comment.cdate }}</b>
                                                <b>{{ comment.content }} </b>
                                            <hr>
                                            {% endif %}

                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </div>
                    </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <B> No Posts wwaaaw </B>
{% endif %}
</div>
<div class=" col-md-6">

    {%  for post in posts reversed %}
        {% if post.author.username == user.username %}

    {% endif %}
    {% endfor %}
    <center>
    <img src="{{ author.avatar.url }}" class="img-circle" alt="" width="325" height="325">
    </center>
        <form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <hr>
            <p> <b>Change Profile Picture</b>
                <input id="id_image" type="file" class="" name="image">
            </p>
            <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>
