<!doctype html>
<html>
{% load staticfiles %}
<head>
	<title>Line Chart</title>
	<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
	<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
    <script src="{% static 'octo_site/res/jquery.js' %}"></script>
    <script src="{% static 'octo_site/res/jsocket.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
    <button id="pullData" onclick="pullData()">Pull Data</button>
    <script>
        const socket = new WebSocket('ws://localhost:8000/octo_site/');
        // Connection opened
        socket.addEventListener('open', function (event) {
            socket.send('Hello Server!');
        });
        // Listen for messages
        socket.addEventListener('message', function (event) {
            console.log('Message from server ', event.data);
        });
        if(typeof(EventSource) !== "undefined") {
            console.log("im zucc port");
        } else {
        }
    </script>
	<script>
        let to_add=[];
        let sensor_data;
		let MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		let config = {
			type: 'line',
			data: {
				labels: [],
				datasets: [{
					label: 'Time Triggered at',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: '{{ room.room_name }} Game #69'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Sensor Name'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'seconds'
						}
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			initData();
            console.log("started");
			window.setInterval(reloadData, 1000);
		};
		function reloadData() {
            sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
            sensor_data.done(function(results){
                if (config.data.datasets[0].data.length < results.data.length){
                    to_pop = results.data.length % config.data.datasets[0].data.length  ;
                    for(let i=0;i<to_pop;i++){
                        to_add.push(results.data.pop());
                    }
                    for (i in to_add){
                        console.log(to_add[i].sensor_name+"-"+to_add[i].value);
                        config.data.labels.push(to_add[i].sensor_name);
                        config.data.datasets[0].data.push(to_add[i].value);
                        window.myLine.update();
                    }
                    window.myLine.update();
                }
            });
        }
        function pullData() {
           sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
           sensor_data.done(function(results){
               // console.log(results.data);
           });
           //splice data
        }
        function initData() {
           sensor_data =  $.get("/octo_site/sensor_data/{{ room.room_id }}");
           sensor_data.done(function(results){
                obj = results.data;
                for (i in obj)
                {
                   // console.log(obj[i]);
                    config.data.labels.push(obj[i].sensor_name);
			        config.data.datasets[0].data.push(obj[i].value);
			    window.myLine.update()
                }
           });
			window.myLine.update();
        }
		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myLine.update();
		});
		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				backgroundColor: newColor,
				borderColor: newColor,
				data: [],
				fill: false
			};
			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}
			config.data.datasets.push(newDataset);
			window.myLine.update();
		});
		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				var month = MONTHS[config.data.labels.length % MONTHS.length];
				config.data.labels.push(month);
				config.data.datasets.forEach(function(dataset) {
					dataset.data.push(randomScalingFactor());
				});
				window.myLine.update();
			}
		});
		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});
		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first
			config.data.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});
			window.myLine.update();

var chartColors = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(231,233,237)'
};

// returns a random integer between 0 and 10 inclusive
var getRandomValue = function() {
  min = Math.ceil(0);
  max = Math.floor(50);
  return Math.floor(Math.random() * (max - min + 1)) + min;
};

// generates a value for each hour in a week
var generateHourlyAvgData = function() {
  var data = [];
  for (var i = 0; i < 168; i++) {
    data.push({
      x: i,
      y: getRandomValue()
    });
  }
  return data;
};

// generates daily avg data by calculating the hourly
// avg for each day
var generateDailyAvgData = function(hourlyAvgData) {
  var chunkSize = 24;
  var data = [null];

  for (var i = 0; i < hourlyAvgData.length / chunkSize; i++) {
    var startIndex = i * chunkSize;
    var slicedData = hourlyAvgData.slice(startIndex, startIndex + chunkSize);
    var sum = slicedData.reduce(function(acc, val, index) {
      return acc + slicedData[index].y;
    }, slicedData[0].y);

    data.push(sum / chunkSize);
  }
  return data;
};

var hourlyAvgData = generateHourlyAvgData();
var dailyAvgData = generateDailyAvgData(hourlyAvgData);

var ctx = document.getElementById("canvas").getContext("2d");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['', "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    datasets: [{
      type: 'line',
      label: 'Daily Avg',
      data: dailyAvgData,
      borderColor: chartColors.red,
      backgroundColor: chartColors.red,
      borderWidth: 5,
      fill: false,
    }, {
      type: 'line',
      label: 'Hourly Avg',
      borderColor: chartColors.green,
      backgroundColor: chartColors.green,
      borderWidth: 1,
      fill: false,
      pointRadius: 0,
      xAxisID: 'x-axis-2',
      data: hourlyAvgData
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Chart.js - Line Chart With Multiple X Scales (X Axes)'
    },
    tooltips: {
      mode: 'nearest',
      intersect: true,
    },
    scales: {
      xAxes: [{
        gridLines: {
          offsetGridLines: false,
        }
      }, {
        id: 'x-axis-2',
        type: 'linear',
        position: 'bottom',
        display: false,
        ticks: {
          min: 0,
          max: 168,
          stepSize: 24
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 50
        }
      }]
    }
  }
});
		});
	</script>
</body>

</html>