{% include 'octo_site/includes/header.html' %}
<!-- CONTENT -->
    {% load staticfiles %}
<div id="modal-full" class="uk-modal-full" uk-modal style="">
    <div class="uk-modal-dialog">
        <div class="uk-column-1-2 uk-column-divider">
            <div class="uk-padding-large" style="background-color: white" uk-height-viewport>
                <h3>Alien Assualt Room Sensors</h3>
                <hr class="uk-divider-icon">
                <div style="overflow-y: scroll; height:360px;">
                <div id="sensor_sequence" >
                    <div class="uk-margin">
                        <li class="draggable_list" data-sensor_id="tite1"><div class="uk-card uk-card-default uk-card-body uk-card-small box_box"></div></li>
                    </div>
                </div>
                </div>
                <div class="uk-modal-footer uk-position-bottom uk-text-center">
                    <button class="uk-button uk-button-default uk-modal-close bord_rad" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary bord_rad" type="submit">Save</button>
                </div>
            </div>
            <div uk-height-viewport>
                <div class="uk-card-body uk-align-center uk-text-center uk-width-1-1">
                    <div class="uk-inline uk-dark uk-align-center" style="border: dashed;border-width: 3px;"  id="layout_body">
                        <img id="img_sensor_layout" ondrop="drop(event)" ondragover="allowDrop(event)" src="{% static 'media/imgs/aa_blueprint.jpg' %}" alt="" style="width: 100%;height: 100%">
                        <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 1"  style="left: 20%; top: 5%" href="#" uk-marker></a>
                        <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 2"  style="left: 64%; top: 4%" href="#" uk-marker></a>
                        <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 3"  style="left: 86%; top: 72%" href="#" uk-marker></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div id="content" style="padding: 0 0 0 0; margin-left: 240px;">
    <section class="uk-section uk-article" style="background-color: white;padding: 10px" >
        <div class="uk-container uk-container-medium" style="margin-top: 3vh">
            <div class="uk-card uk-card-default uk-card-small uk-card-hover">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-medium" >

                        <div class="uk-width-auto" >
                            <h4 class="uk-margin-remove-bottom"><span  data-uk-icon="icon: home;ratio: 1"></span> Alien Assault Room Layout </h4>
                        </div>
                        <div class="uk-width-expand uk-text-right">
                            <a href="#modal-full" uk-toggle>
                                <button class="uk-button uk-button-default uk-button-small hobor" onclick="sensor_layout(this)">Test shit <span data-uk-icon="icon: plus"></span></button>
                            </a>

                        </div>
                        <div class="uk-card-body uk-align-center uk-text-center uk-width-1-1">
                            <div class="uk-inline uk-dark uk-align-center" style="border: dashed;border-width: 3px;">
                                <img src="{% static 'media/imgs/aa_blueprint.jpg' %}" alt="" style="width: 100%;height: 100%">
                                <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 1"  style="left: 20%; top: 5%" href="#" uk-marker></a>
                                <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 2"  style="left: 64%; top: 4%" href="#" uk-marker></a>
                                <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 3"  style="left: 86%; top: 72%" href="#" uk-marker></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
<script>
    let img_sensor_layout = document.getElementById("img_sensor_layout");
    var bar = document.getElementById('js-progressbar');
    var inp = document.getElementById('hd_img');
    const csrftoken = '{{ csrf_token }}';
    function showImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#hdr_img')
                    .attr('src', e.target.result).style="display: inline;"
                ;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    var indexes = [];

    let vals = [];
    $(document).on('moved', '.uk-sortable', function(e) {
      console.log("henlo");
      var currentLi = e.originalEvent.parentNode;
      indexes = [];
      $(this).find('li').each(function() {
        indexes.push($(this).data("index"));

        vals.push($(this).data('sensor_id'));
      });

      $("#game_sequence").val(vals.toString());
      console.log(indexes);
      console.log(vals);

    });

    $('.uk-sortable').find('li').each(function(i) {
      $(this).data("index", i);
      indexes.push(i);
    });

    console.log(indexes);
    console.log(vals);
    function delete_room(room_id) {
        let conf = confirm("Are you sure you want to delete?");
        if (conf){
            $('#room-'+room_id).click();
        }
    }
/*
    img_sensor_layout.addEventListener("drop",click_pos,false);
    function click_pos(e) {
        console.log("dragged");
    }
    */
    function dragStart(event) {
        event.dataTransfer.setData("Text", event.target.id);
        event.dataTransfer.setData("sensor_id", event.target.nodeName);
        event.dataTransfer.setData("ace", event.target.href);
        //event.dataTransfer.setData("index", event.target.data-index);
        console.log("drag started");
    }
    function allowDrop(event) {
    event.preventDefault();
    }
    function getPosition(el) {
      var xPosition = 0;
      var yPosition = 0;

      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScrollPos = el.scrollLeft || document.documentElement.scrollLeft;
          var yScrollPos = el.scrollTop || document.documentElement.scrollTop;

          xPosition += (el.offsetLeft - xScrollPos + el.clientLeft);
          yPosition += (el.offsetTop - yScrollPos + el.clientTop);
        } else {
          xPosition += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPosition += (el.offsetTop - el.scrollTop + el.clientTop);
        }

        el = el.offsetParent;
      }
      return {
        x: xPosition,
        y: yPosition
      };
    }
    function drop(event) {
        event.preventDefault();
        let parent_position = getPosition(event.currentTarget);
        var data = event.dataTransfer.getData("Text");

        var data2 = event.dataTransfer.getData("ace");
        let xPos = event.clientX - parent_position.x;
        let yPos = event.clientY - parent_position.y;
        console.log(xPos , yPos);
        let  str_append = '<a class="uk-position-absolute uk-transform-center" uk-tooltip="'+data+'"  style="left: '+xPos+'px; top: '+yPos+'px" href="#" uk-marker></a>';
        $("#layout_body").append(str_append);

        /*

                        <a class="uk-position-absolute uk-transform-center" uk-tooltip="Sensor 3"  style="left: 86%; top: 72%" href="#" uk-marker></a>
            event.target.appendChild(document.getElementById(data));
            document.getElementById("demo").innerHTML = "The p element was dropped";
        */
    }
    function sensor_layout(obj) {
        $("#sensor_sequence").empty();
            let sensors =  $.get("/octo_site/api/get_sensor_by_room_id/2/");
            sensors.done(function(results){
               console.log(results);
               for(i in results.sensors){
                   let ind = parseInt(i)+1;
                   console.log(results.sensors[i].sensor_id);
                   let str_append = '<div class="uk-margin"' +
                       '>'+'<li ondragstart="dragStart(event)" draggable="true" href="i wan dick" id="hellomark" nodeName="gago" style="list-style-type: none;" data-index="'+i+'" data-sensor_id="'+results.sensors[i].sensor_id+'">';
                       str_append += ' <a><span class="uk-badge indexes">'+ind+'</span>  '+results.sensors[i].sensor_name+'' +
                           '</a></li></div>';
                   $("#sensor_sequence").append(str_append);
               }
            });
    }
    function handleFile(file) {
        console.log("i here, handling file!");
        document.getElementById('hd_img').files[0] = file;
        var preview = document.getElementById('output');
        var img = document.createElement("img");
        img.classList.add("obj");
        img.file = file;
        preview.appendChild(img); // Assuming that "preview" is the div output where the content will be displayed.
        var reader = new FileReader();
        reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        reader.readAsDataURL(file);
      }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    UIkit.upload('.js-upload', {
        url: '/octo_site/api/upload_process/',
        multiple: false,
        beforeSend: function(xhr) {
            xhr = new XMLHttpRequest();
            xhr.open("POST","/octo_site/api/upload_process/");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            const csrfmiddlewaretoken = csrftoken;
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
            console.log(arguments[1][0].name);
            handleFile(arguments[1][0]);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },
        loadStart: function (e) {
            console.log('loadStart', arguments);
            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },
        progress: function (e) {
            console.log('progress', arguments);
            bar.max = e.total;
            bar.value = e.loaded;
        },
        loadEnd: function (e) {
            console.log('loadEnd', arguments);
            bar.max = e.total;
            bar.value = e.loaded;
        },
        completeAll: function (arguments) {
            console.log('completeAll', arguments);
            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);
            console.log('Upload Completed');
        }
    });
</script>
<!-- /CONTENT -->
{% include 'octo_site/includes/offcanvas.html' %}

