{% load staticfiles %}
{% load templaterange %}
{% load get_attr %}
        {% include 'octo_site/includes/header.html' %}
        <link rel="stylesheet" href = "{% static 'styles/view_room.css' %}" type = "text/css">
<!-- CONTENT -->

<div id="content" style="padding: 0px 0 0 0; margin-left: 240px;">

    <div class = "room-banner">
        <div class = "header-wrapper">
            <div class = "pic-container">
                <!-- <div class = "room-pic"> </div> -->
                <img class = "room-pic" src = "{% static 'media/' %}{{ img   }}">
            </div>

            <div class = "m-info-box">
                <div class = "m-time-left">
                    <div class = "timeLeft">
                        {% if done == False %}
                        Time Left: 
                        <span class = "spanTimestamp" minutes = {{ minutes }} seconds = {{ seconds }}>
                            {{ minutes }}:{{ seconds }}
                        </span>
                        {% else %}
                        Game is Finished
                        {% endif %}
                    </div>
                </div>
                <div class = "m-team-name"> {{ details.teamname }} </div>
                <div class = "m-team-mems">
                    <div class = "m-mem-title">Members:</div>
                    {% for i in players %}
                    <div class = "m-member">{{i.firstname}} {{i.lastname}}</div>
                    {% endfor %}
                </div>
                <div class = "m-clues">
                    <div class = "m-clue-title">Clues: </div>
                </div>
            </div>

            <div class = "m-options-box">
                {% if done == False %}
                <div id = "endgameb">
                <div class = "m-opt-button" gameid = "{{details.game_details_id}}" onClick = "endGame(this)"> End Game</div>
                </div>
                {% else %}
                {% endif %}
                <a href ="#modal-example"  uk-toggle class = "atag"><div class = "m-opt-button"> Add Clue</div></a>
            </div>

        </div>
    </div>

    <div class = "m-content-wrapper">
        
        <div class = "m-sensor-content">
            <div class = "m-sensor-div">
            </div>
            <div class = "m-filter-content">
                <input type = "checkbox" name = "sens1">Sensor 1
                <input type = "checkbox" name = "sens2">Sensor 2
                <input type = "checkbox" name = "sens3">Sensor 3
                <input type = "checkbox" name = "sens4">Sensor 4
            </div>
        </div>

        <div class = "m-sandbox-content">
            <div class = "m-sandbox-frame">
            <div id="path_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                <!-- Things get appended here thru setSandBox() -->
            </div>
            <div id="sensor_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                <!-- Things get appended here thru setSandBox() -->
            </div>
            <img id="img_sensor_layout"  src="{% static 'media/' %}{{ blueprint }}" alt="" style="width: 100%;height: 100%;">
            
            </div>

            <div class = "m-sandbox-controller">
            </div>

        </div>
    </div>
</div>
<!-- /CONTENT -->


<!-- Modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Add Clue</h2>
        <div class="uk-inline uk-width-1-1">
            <div class="uk-margin uk-width-1-1">
                <input id = "clue-desc" class="uk-input" type="text" placeholder="Clue Description">
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" onClick = "addClue(this)" gameid = "{{ gameid }}" roomid = "{{ roomid }}" id = "mainInfo">Save</button>
        </p>
    </div>
</div>
<!-- /MODAL -->

<!-- SCRIPTS -->
<script>
function addClue(target){
    var gameid  = target.getAttribute("gameid");
    var clueval = $("#clue-desc")[0].value;
    $.ajax({
            type:"POST",
            url:"/octo_site/api/add_clue/",
            data: {
                'clue_desc': clueval,
                'gameid': gameid
            },
            success: function(data){
                alert("cool");
                //location.reload();
            }
    });
}

function endGame(target){
    var gid = target.getAttribute("gameid");
    $.ajax({
            type:"POST",
            url:"/octo_site/api/end_game/",
            data: {
                'game_id': gid,
            },
            success: function(data){
                location.reload();
            }
    });
}
var times = 0
function loop(){
    setInterval(() => {
        var timestamps = document.getElementsByClassName("spanTimestamp");
        for(var i = 0; i < timestamps.length; i++)
        {
            var ts = timestamps.item(i);
            var tmins = ts.getAttribute("minutes");
            var tsecs = Number(ts.getAttribute("seconds"));
            var totalsecs =  tmins*60 + tsecs;
            totalsecs = totalsecs - times;
            if(totalsecs < 0){
                location.reload();
            }
            tmins = Math.floor(totalsecs/60);
            tsecs = totalsecs%60;
            tmins = tmins < 10 ? "0"+tmins : tmins;
            tsecs = tsecs < 10 ? "0"+tsecs : tsecs;
            ts.innerHTML = tmins+":"+tsecs;
        }

        times = times+1
    }, 1000);
}
loop();
</script>

<script>
    function sendSensorRequet(){
        var rid = document.getElementById("mainInfo").getAttribute("roomid");
        $.ajax({
            type:"POST",
            url:"/octo_site/api/get_sensor_by_room_id/"+rid+"/",
            data: {
                'game_id': rid,
            },
            success: function(data){
                setSandBox(data.sensors);
            }
        });
    }

    function setSandBox(sensors){
        //console.log(sensors);
        dom = document.getElementById("sensor_sequence_plot");
        str = ""
        for(i in sensors){
            str_append = '<div id = "sensor-tip-'+i+'" class="div_drag" uk-tooltip="'+sensors[i].sensor_name+'" sensor-id="'+sensors[i].sensor_id+'" onmousedown=""  style="left: '+sensors[i].left_coordinate+'%; top: '+sensors[i].top_coordinate+'%;width: 25px; height: 25px;text-align: center;position: absolute;"> <span style="color: white;width: 25px; height: 25px;" data-uk-icon="icon: nut"></span></div>';
            str += str_append+"\n";
        }

        dom.innerHTML = str;
        setPathContent(sensors);
    }

    function setPathContent(sensors){
        dom = document.getElementById("path_sequence_plot");
        str = "";
        for(i in sensors){
            if(i != 0){
                str_append = '<div class = "path-container" id = "laser" target1 = "'+(i-1)+'" target2 = "'+i+'"></div>'
                str += str_append+"\n";
            }
        }
        dom.innerHTML = str;
        produceConnections();
    }

    function produceConnections(){
        items = document.getElementsByClassName("path-container");
        for(var i = 0; i < items.length; i++){
            setPathF(items[i]);
        }
    }
    function setPathF(pathdom){
            var t1n = "sensor-tip-"+pathdom.getAttribute("target1");
            var t2n = "sensor-tip-"+pathdom.getAttribute("target2");
            
            var p1 = document.getElementById(t1n);
            var p2 = document.getElementById(t2n);

            var s1 = window.getComputedStyle(p1);
            var s2 = window.getComputedStyle(p2);
            
            var y1 = parseInt(p1.offsetTop);
            var y2 = parseInt(p2.offsetTop);

            var x1 = parseInt(p1.offsetLeft);
            var x2 = parseInt(p2.offsetLeft);

            delta_x = x2 - x1;
            delta_y = y2 - y1;

            theta_radians = Math.atan2(delta_y, delta_x)*57.2958;
            hypotenuse = Math.sqrt(Math.abs(delta_x)*Math.abs(delta_x) + Math.abs(delta_y)*Math.abs(delta_y));
            var l = pathdom;
            l.setAttribute("style", "transform: rotate("+theta_radians+"deg); position: absolute;")
            l.style.top = p1.offsetTop+"px";
            l.style.left = p1.offsetLeft+"px";
            l.style.width = hypotenuse+"px";
            str = "";
            rep = Math.floor((hypotenuse)/30);
            for(var i = 0; i < rep; i++){
                str += '<img class = "arw" src="{% static "media/imgs/arrow.png" %}" width = "30px" height = "100%">\n';
            }
            l.innerHTML = str;
        }
    sendSensorRequet();
</script>
<!-- /SCRIPTS -->
{% include 'octo_site/includes/offcanvas.html' %}


