{% load staticfiles %}
{% load templaterange %}
{% load get_attr %}
        {% include 'octo_site/includes/header.html' %}
        <link rel="stylesheet" href = "{% static 'styles/view_room.css' %}" type = "text/css">
<!-- CONTENT -->

<div id="content" style="padding: 0px 0 0 0; margin-left: 240px;">

    <div class = "room-banner">
        <div class = "header-wrapper">
            <div class = "pic-container">
                <!-- <div class = "room-pic"> </div> -->
                <img class = "room-pic" src = "{% static 'media/' %}{{ img   }}">
            </div>

            <div class = "m-info-box">
                <div class = "m-time-left">
                    <div class = "timeLeft">
                        {% if done == False %}
                        Time Left: 
                        <span class = "spanTimestamp" minutes = {{ minutes }} seconds = {{ seconds }}>
                            {{ minutes }}:{{ seconds }}
                        </span>
                        {% else %}
                        Game is Finished
                        {% endif %}
                    </div>
                </div>
                <div class = "m-team-name"> {{ details.teamname }} </div>
                <div class = "m-team-mems">
                    <div class = "m-mem-title">Members:</div>
                    {% for i in players %}
                    <div class = "m-member">{{i.firstname}} {{i.lastname}}</div>
                    {% endfor %}
                </div>
                <div class = "m-clues">
                    <div class = "m-clue-title">Clues: </div>
                </div>
            </div>

            <div class = "m-options-box">
                {% if done == False %}
                <div id = "endgameb">
                <div class = "uk-button uk-button-secondary" gameid = "{{details.game_details_id}}" onClick = "endGame(this)"> End Game</div>
                </div>
                {% else %}
                {% endif %}
                <a href ="#modal-example"  uk-toggle class = "atag"><div class = "uk-button uk-button-secondary"> Add Clue</div></a>
            </div>

        </div>
    </div>

    <div class = "m-content-wrapper">
        
        <div class = "m-sensor-content">
            <div class = "m-sensor-div card-lite uk-card-hover">
            <canvas id="canvas"></canvas>
            </div>
            <!--
            <div class = "m-filter-content">
                <input type = "checkbox" name = "sens1">Sensor 1
                <input type = "checkbox" name = "sens2">Sensor 2
                <input type = "checkbox" name = "sens3">Sensor 3
                <input type = "checkbox" name = "sens4">Sensor 4
            </div>
            -->
        </div>

        <div class = "m-sandbox-content card-lite uk-card-hover">
            <div class = "m-sandbox-frame">
            <div id="path_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                <!-- Things get appended here thru setSandBox() -->
            </div>
            <div id="sensor_sequence_plot" style = "position: absolute; width: 360px; height: 360px;">
                <!-- Things get appended here thru setSandBox() -->
            </div>
            <img id="img_sensor_layout"  src="{% static 'media/' %}{{ blueprint }}" alt="" style="width: 100%;height: 100%;">
            
            </div>

            <div class = "m-sandbox-controller">
            This is a controller lmao
            </div>

        </div>
    </div>
</div>
<!-- /CONTENT -->


<!-- Modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Add Clue</h2>
        <div class="uk-inline uk-width-1-1">
            <div class="uk-margin uk-width-1-1">
                <input id = "clue-desc" class="uk-input" type="text" placeholder="Clue Description">
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-secondary" type="button" onClick = "addClue(this)" gameid = "{{ gameid }}" roomid = "{{ roomid }}" id = "mainInfo">Save</button>
        </p>
    </div>
</div>
<!-- /MODAL -->

<!-- SCRIPTS -->
<script>

function addClue(target){
    var gameid  = target.getAttribute("gameid");
    var clueval = $("#clue-desc")[0].value;
    $.ajax({
            type:"POST",
            url:"/octo_site/api/add_clue/",
            data: {
                'clue_desc': clueval,
                'gameid': gameid
            },
            success: function(data){
                alert("cool");
                //location.reload();
            }
    });
}

function endGame(target){
    var gid = target.getAttribute("gameid");
    $.ajax({
            type:"POST",
            url:"/octo_site/api/end_game/",
            data: {
                'game_id': gid,
            },
            success: function(data){
                location.reload();
            }
    });
}
var times = 0
function loop(){
    setInterval(() => {
        var timestamps = document.getElementsByClassName("spanTimestamp");
        for(var i = 0; i < timestamps.length; i++)
        {
            var ts = timestamps.item(i);
            var tmins = ts.getAttribute("minutes");
            var tsecs = Number(ts.getAttribute("seconds"));
            var totalsecs =  tmins*60 + tsecs;
            totalsecs = totalsecs - times;
            if(totalsecs < 0){
                location.reload();
            }
            tmins = Math.floor(totalsecs/60);
            tsecs = totalsecs%60;
            tmins = tmins < 10 ? "0"+tmins : tmins;
            tsecs = tsecs < 10 ? "0"+tsecs : tsecs;
            ts.innerHTML = tmins+":"+tsecs;
        }

        times = times+1
    }, 1000);
}
loop();
</script>

<script src="{% static 'octo_site/res/Chart.js/Chart.bundle.js' %}"></script>
<script src="{% static 'octo_site/res/Chart.js/samples/utils.js' %}"></script>
<script src="{% static 'octo_site/res/jquery.js' %}"></script>
<script src="{% static 'octo_site/res/jsocket.js' %}"></script>
{% include 'octo_site/includes/live_sandbox.html' %}
{% include 'octo_site/includes/live_monitor.html' %}

<!-- /SCRIPTS -->
{% include 'octo_site/includes/offcanvas.html' %}


